[2017-10-25 17:25] ccbrown opened #1 "Extend section: high level design"
High level design. Individual issues can be opened for each section.

- [ ] Plugins
    - [x] Overview
    - [x] The Manifest (with reference / documentation parsed from source)
    - [x] Front-end
        - [x] Introduction - How front-end customization is done, broad overview.
        - [x] Quickstart - Hello world!
        - [x] API Reference - Which elements can be plugged into, etc.
        -

[2017-10-25 20:01] jwilander commented on #1
I think having separate sections for frontend/backend makes a lot of sense but I'd like to somehow emphasize the fact that a single plugin can contain both the frontend and backend. Essentially you'd have a single Jira plugin that has both frontend and backend parts, instead of two separate frontend and backend Jira plugins

0/5 on how that's done but it's something I think is important for how de

[2017-10-25 20:02] jwilander opened #2 "Fix URLs to work when site is hosted in a directory"
AKA fix all the bugs related to it being hosted at https://jwilander.github.io/mattermost-developer-documentation

[2017-10-25 20:06] ccbrown commented on #1
@jwilander True. I've been using the terms "front-end plugin" and "back-end plugin" like they're two separate things, but I should probably avoid using those terms. How about a top level plugin section with a plugin overview and a single examples section? (See updated above.)

[2017-10-25 20:11] jwilander commented on #1
Yeah, that looks great 👍

[2017-10-25 21:08] #2 closed

[2017-10-25 21:10] jwilander opened #4 "Need better way to commit build"
Right now you need to run `hugo` in the `/site` directory which will dump the built site into `/docs` which is pretty messy and will likely make rebasing a pain.

[2017-10-26 12:26] jwilander opened #5 "Notification bar improvements"
For the notification bar that can be enabled by setting params.notifcation.enable to true in config.toml
- [ ] Make it closable
- [ ] When at top, don't cover menus but float (stay at top of screen) on scroll

[2017-10-26 12:29] jwilander opened #6 "Sidebar design"
Need a design for how the left-hand sidebar will work.

[2017-10-26 12:32] jwilander opened #7 "Mailing list"
Need to add a mailing list sign-up form that gets notified about new blog posts. Must have a way to unsubscribe.

[2017-10-26 14:10] jwilander opened #8 "Documentation page styling"
Need some better styling for the documentation pages.

Main needs:
- Better text size
- Mattermost colors
- Anything improving readability

[2017-10-26 20:45] #7 closed

[2017-10-26 22:25] ccbrown opened #10 "Continuous deployment"
* Set up a Travis job or something simple to generate the site and push it to an S3 bucket.
* Put CloudFront and a subdomain in front of that bucket.
* Delete the docs directory from the repo.

[2017-10-26 22:27] ccbrown opened #11 "Missing config file."
[code]

Forget to commit something?

[2017-10-26 22:29] ccbrown commented on #10
@jwilander Do we have any ideas on a subdomain? Do we need to talk to a PM about this or any of our goals?

[2017-10-26 22:29] jwilander commented on #11
Is this from running `hugo server -D` from inside the `/path/to/repo/mattermost-developer-documentation/site` directory?

[2017-10-26 22:30] ccbrown commented on #11
Derp.

[2017-10-26 22:30] #11 closed

[2017-10-26 22:32] jwilander commented on #10
The plan was `developers.mattermost.com` and @jasonblais is aware of the general plan but before we launch it or host it anywhere we'll probably want to run it past Ian or someone on the marketing side to make sure we're not stepping on any toes

[2017-10-26 23:07] jasonblais commented on #10
Maybe it can be demoed on next platform meeting to get feedback?

[2017-10-27 12:54] jwilander commented on #10
I don't know how soon we're shipping this, I think what we really need is a checklist of things we need to do to make the marketing/business side happy

[2017-10-27 16:49] ccbrown commented on #4
I think this'll be solved by https://github.com/mattermost/mattermost-developer-documentation/issues/10, since once we do that, we won't need to actually commit the built site.

In the meantime, hopefully we don't have too much trouble with it while it's just us and merge contention is low.

[2017-10-27 16:50] jwilander commented on #4
Yeah, sounds good

[2017-10-27 16:50] #4 closed

[2017-10-27 16:53] ccbrown commented on #8
Would we be able to steal someone's time to get a PM-approved mock up for the styling?

I'd like to add some images / visuals kinda like what you see throughout Apple's documentation, but I feel like I should wait until we have look and feel figured out.

[2017-10-27 17:07] ccbrown opened #13 "Syntax highlighting"
The extend/server/hello-world page has some Go / YAML blocks that need highlighting. I thought Hugo had syntax highlighting built in, but it doesn't seem to just work.

[2017-10-27 17:08] jwilander commented on #8
@jasonblais do you think we could appropriate some of your and @asaadmahmood's time to help us with the styling here?

[2017-10-27 20:28] jwilander opened #14 "Contribute section: high level design"
High level design.

- [x] Getting Started
    - [x] Contribution Guidelines
    - [x] Core Committers
    - [x] Project Repositories
- [x] Server
    - [x] Environment Setup
    - [x] Workflow
    - [x] Systems
        - [ ] Application Layer
        - [ ] Model and Driver
        - [x] REST API
        - [ ] Store Layer
        - [ ] CLI
        - [ ] WebSocket
        - [ ] Job Server
        -

[2017-10-27 20:50] jwilander opened #15 "Integrate section: high level design"
High level design.

- [x] Getting Started
    - [x] How Should I Integrate?
- [x] Incoming Webhooks
    - [x] Usage
    - [ ] Example
- [x] Outgoing Webhooks
    - [x] Usage
    - [ ] Example
- [x] Slash Commands
    - [x] Usage
    - [ ] Example
- [ ] Message Attachments
    - [ ] Interactive Message Buttons
    - [ ] Message Builder - similar to https://api.slack.com/docs/messages/builder
- [ ]

[2017-10-29 06:20] ccbrown commented on #15
I wonder if interactive message buttons should be a subsection of message attachments.

Would definitely be nice to have a message builder in here somewhere: https://api.slack.com/docs/messages/builder

[2017-10-30 12:17] jwilander commented on #15
Good point, updated

[2017-10-30 12:18] jwilander commented on #8
Chatted with JB, he's looking into getting some of AM's time for this

[2017-10-30 21:56] jasonblais commented on #8
Have posted about getting Charles' or Asaad's help with a mock up + feedback on the general plan (as mentioned at https://github.com/mattermost/mattermost-developer-documentation/issues/10) in a Marketing channel.

Will post an update back here,

[2017-10-31 05:24] ccbrown opened #17 "Plugin back-end API reference"
Gonna mull over this for another day or two at least before doing anything. Feedback appreciated.

## Step One: Improve Existing Documentation

The existing documentation could be more thorough, and I'd like to add some examples. Examples are a bit weird, because they're expected to be complete, functional, and runnable on the playground. Of course, we can't run plugins on the playground, but I th

[2017-10-31 12:41] #13 closed

[2017-10-31 19:50] jwilander opened #19 "Blog design and styling"
Placeholder for the design and styling work for the blog.

[2017-11-01 18:08] ccbrown opened #20 "Internal documentation"
Things that people that aren't Mattermost employees are extremely unlikely to care about, such as "how to ssh into a machine", or "how to upgrade go on the build servers".

Should this stuff go into the contribute section? Should it go in another site altogether such as a wiki?

I think there are at least two important factors to consider:

* Keeping noise and UI clutter to a minimum for our visit

[2017-11-02 06:42] ccbrown commented on #17
Starting on this. Making a script to generate a data template and creating a layout that'll either render the docs from that template or say "go run this command to generate the docs".

[2017-11-03 18:51] #17 closed

[2017-11-06 21:51] ccbrown commented on #20
The current plan is to put it on this site, but in its own section.

[2017-11-06 22:42] jwilander commented on #1
Going to write some front-end plugin documentation

[2017-11-07 18:58] ccbrown opened #25 "Edit links"
It'd be nice to have an edit link on each page to make it apparent that the pages are open to public contributions and make contributing stupid simple. For example, the "Developer Setup" page would have a link like this: [Edit on GitHub](https://github.com/mattermost/mattermost-developer-documentation/edit/master/site/content/contribute/server/developer-setup.md) or maybe just [✏️](https://github.

[2017-11-07 19:47] ccbrown commented on #1
Forgot something important: Manifest schema.

[2017-11-07 20:12] ccbrown opened #28 "Maybe Travis should comment on PRs with a link to the built site"
I often find myself copying / pasting / URL hacking so I can read over PRs on a built version of the site. Travis could make this nicer.

[2017-11-09 17:34] ccbrown commented on #20
We've started adding internal documentation in its own section, detached from the rest of the site.

[2017-11-09 17:34] #20 closed

[2017-11-13 22:18] jasonblais commented on #8
@ccbrown @jwilander Just an update that we should be able to get a sample mockup from Charles this week

[2017-11-13 22:25] jasonblais commented on #10
Overall the feedback from the marketing team is positive.

For now I'd say no action needed, but one thing to keep in mind is that a lot of the developer/technical content serves as a lead generation for marketing. Some decision makers discover Mattermost first through the developer content so we want to make it easy for those potential leads to have a happy path to the marketing content, for inst

[2017-11-13 22:26] jasonblais commented on #10
^To re-iterate, no action needed for now. Both can be revisited at a later time.

[2017-11-13 22:36] jwilander commented on #10
I'm fine with an easy path to marketing/sales, but the main goal here is to provide better documentation for developers. So I'll be strongly against any changes (if they ever exist) that impair the documentation for the sake of sales and/or marketing. Great developer documentation will help sell the product itself.

As for marking certain parts EE, yes I feel very strongly that to be fair to contr

[2017-11-15 23:28] jasonblais opened #37 "Discuss with marketing whether we should use MailChimp for sending out emails"
Currently it's set up with MailJet, but we might want to switch to MailChimp since all our other email campaigns use that service.

Jason to discuss with marketing team how important this is, or whether we'll use MailJet for the developers site.

[2017-11-17 21:19] ccbrown commented on #28
I want this more and more every time I review a PR.

[2017-11-18 06:43] #28 closed

[2017-11-27 06:25] ccbrown opened #44 "Broken links on plugins page"
* Go to this page: http://mattermost-developer-documentation.s3-website-us-east-1.amazonaws.com/branches/master/extend/plugins/
* Click the "server" link at the bottom of the page body.

It sends you here (which is wrong): http://mattermost-developer-documentation.s3-website-us-east-1.amazonaws.com/branches/master/extend/plugins/extend/plugins/server/hello-world

[2017-11-27 14:08] #8 closed

[2017-11-27 14:09] #6 closed

[2017-11-28 00:32] #44 closed

[2017-11-29 15:55] jasonblais opened #50 "Style issues at Extend > Server Plugins > Reference"
1) What is the note at the top?
2) Should "API" heading size match "Testing"? Feels a little large.

![image](https://user-images.githubusercontent.com/13119842/33384253-7fb7b642-d4f3-11e7-99f6-8fa4000fe71f.png)

3) Same with heading size of the individual "API" heading sizes. We can probably just match the sizes from Web App Plugins > Reference
![image](https://user-images.githubusercontent.com/1

[2017-11-29 16:00] jasonblais opened #51 "Style Issues (General)"
1) Add "Beta" label to sidebar as well
![image](https://user-images.githubusercontent.com/13119842/33384447-0ea6ed78-d4f4-11e7-97a1-8b2878b2808e.png)

2) For the subsection headings, should the title be of the form `Web App Plugins: Reference`, or is that redundant?

Completely 0/5, just wondering if someone lands on the page, is it obvious what reference they're looking at (until they check the s

[2017-11-29 16:04] jasonblais opened #52 "Proposed improvements for Manifest Reference"
Propose tweaking the top portion of the manifest reference

Current:
![image](https://user-images.githubusercontent.com/13119842/33384674-a5c38694-d4f4-11e7-8157-b11840d25c2c.png)

Proposed (up for feedback):
[code]

----

It might be worth reviewing the doc formatting as well. It's okay for now, but it's a little hard to follow especially with the indentation towards the end.

![image](https://us

[2017-11-29 21:45] jwilander commented on #50
1. Go documentation is generated automatically for all Go packages and it's a common place that most devs will go to look at documentation. I like having it there as a dev because 1) if I just want to go read the documentation in a format I'm familiar with I can just click that, and 2) I immediately know this is documentation for a Go package

2/3. I'll make some modifications to get more consiste

[2017-11-29 23:08] jasonblais commented on #50
1. I'm okay with the change in #53. I think I was confused because it seemed like the title of the page. 0/5 on whether it should be a heading or not

[2017-11-30 03:57] ccbrown commented on #52
0/5 on moving things around, but I agree that the indentation on the docs is pretty bad. It's definitely something I'd like better styling for.

[2017-11-30 04:08] ccbrown commented on #51
2. I think the titles probably would be better off saying something like "Web App Plugins: Reference". At the very least, the tabs really need to say something more than "Reference":

<img width="1792" alt="screen shot 2017-11-29 at 10 06 00 pm" src="https://user-images.githubusercontent.com/1731074/33412567-b56d56ee-d551-11e7-84ac-cb383022d372.png">

[2017-11-30 04:15] ccbrown commented on #50
In addition to what Joram said, I also thought it was important to make it immediately clear to the user what they were looking at because the page is full of GoDoc links for everything (e.g. clicking on any type name takes you to the GoDoc page for it). Didn't want that to be too surprising. It should feel perfectly familiar to Go developers though.

[2017-11-30 04:20] ccbrown commented on #1
I think if we add an "examples" page that showcases the JIRA / Zoom plugins, we'll be ready to close this issue. I'll probably create that tomorrow.

[2017-11-30 13:12] #50 closed

[2017-12-01 18:47] #1 closed

[2017-12-05 21:43] jwilander commented on #51
Working on this now

[2017-12-05 22:35] #52 closed

[2017-12-05 22:56] #51 closed

[2017-12-06 22:47] jwilander opened #59 "Help Wanted: Allow showing of drafts using a query string in the URL"
It would be nice to be able to see the draft pages using a special URL.

[2017-12-06 22:50] jwilander opened #60 "Add anchor link buttons next to section headings"
Makes it easier to copy a link to a specific section

[2017-12-06 22:50] jwilander commented on #14
I'm working on the getting started section

[2017-12-13 19:12] jasonblais opened #66 "Separate contributor flow by project"
Currently (https://github.com/mattermost/mattermost-developer-documentation/pull/61), we have contribution guidelines, which combines the contributor flows for each project.

It might be worthwhile moving some of the information to the specific project sections, so that someone working on Redux tickets have a single flow to follow (instead of reading about other repos in that process)

[2017-12-13 19:45] MusikPolice opened #67 "Add Dev Talks to Developers Site"
We have a lot of great information available in the Dev Talks on [our YouTube page](https://www.youtube.com/channel/UCNR05H72hi692y01bWaFXNA/featured), but they aren't very discoverable. Add a section to [the dev site](https://developers.mattermost.com) that includes these videos. Ideally this would be automatically generated by querying the YouTube API, and would include both the embedded video,

[2017-12-13 21:12] jasonblais opened #68 "Add Zoom plugin to plugin examples page"
https://developers.mattermost.com/extend/plugins/example-plugins/

[2017-12-14 22:05] ccbrown opened #69 "Top-level pages with no sub-pages incorrectly show "[+]" button"
For example, see https://developers.mattermost.com/internal/release-process/

<img width="686" alt="screen shot 2017-12-14 at 4 05 03 pm" src="https://user-images.githubusercontent.com/1731074/34016720-9104394c-e0e8-11e7-9e12-7d32fce93e3c.png">

Neither "Onboarding" nor "Release Process" should have expand / collapse buttons.

[2018-01-02 16:03] jwilander opened #70 "Switch all file headers to use YAML"
We have a mix of YAML (`---`) and TOML (`+++`) in page headers. Let's switch them all to use YAML for consistency's sake.

[2018-01-08 21:34] MusikPolice commented on #67
Submitted.

[2018-01-08 21:34] #67 closed

[2018-01-23 13:24] Hanzei commented on #70
I`ll work on this

[2018-01-23 18:33] MusikPolice opened #78 "Hidden Environment Variables are Unavailable in Builds Triggered by PRs from Forks"
Our build process utilizes hidden environment variables to protect private information like our AWS, GitHub, and YouTube API credentials. As a security precaution, these variables [are not available in builds that are triggered by a PR submitted from a fork of the repo](https://docs.travis-ci.com/user/pull-requests/#Pull-Requests-and-Security-Restrictions). We'll need to modify the build process t

[2018-01-24 13:53] #70 closed

[2018-02-07 09:08] ccbrown opened #84 "Add memes plugin to examples page"

[2018-02-09 20:47] #68 closed

[2018-02-09 20:47] #84 closed

[2018-03-04 23:40] #69 closed

[2018-03-11 17:01] jasonblais opened #94 "Give an easy way for community to share their integrations."
Give an easy way for community to share their integrations.

E.g. having a text like https://docs.mattermost.com/developer/webhooks-incoming.html#share-your-integration, or having a link somewhere in the page footer.

[2018-04-18 16:46] lfbrock opened #102 "Add an "Edit on GitHub" button"
Should we add an "Edit on GitHub" button/link like we do on docs.mattermost.com, so it's obvious where to go to propose changes?

[2018-05-22 15:44] santos22 opened #108 "Background covers footer on an external monitor"
The blue background covers part of the footer when viewing developers.mattermost.com on an external monitor. I implemented a quick change to fix this, but was wondering if viewing on mobile should be improved (gap between Extend section and footer) before submitting a PR. Thoughts?
**Before**
![screen shot 2018-05-18 at 4 59 19 pm](https://user-images.githubusercontent.com/7004949/40373470-d2de556

[2018-06-11 16:24] lfbrock opened #115 "Add ability to link to subheadings"
Request: Update subheadings so it's possible to link to them.

E.g. on this page: https://developers.mattermost.com/extend/plugins/example-plugins/

It would be nice to directly link to a specific plugin example.

[2018-06-11 16:25] lfbrock commented on #115
Actually looks like same as this one: https://github.com/mattermost/mattermost-developer-documentation/issues/60

[2018-06-11 16:25] #115 closed

[2018-06-20 21:48] #66 closed

[2018-06-21 13:21] jasonblais commented on #102
Closing as duplicate of https://github.com/mattermost/mattermost-developer-documentation/issues/25

[2018-06-21 13:21] #102 closed

[2018-06-21 16:38] #108 closed

[2018-06-21 16:38] santos22 commented on #108
Think this was fixed 👍

[2018-06-21 19:51] #14 closed

[2018-06-21 19:51] #15 closed

[2018-10-15 18:45] walidsebai opened #176 "Add dep ensure before starting mattemost server"
it seems that we must use `dep ensure` before `make run` to start mattermost server, other way it tell me a package is missing.
actual error:
`cmd/mattermost/main.go:9:2: cannot find package "github.com/mattermost/mattermost-server
/cmd/mattermost/commands" in any of:
       /home/wsebai/go/src/mattermost-server/vendor/github.com/mattermost/mattermost-server/cmd/mattermost/commands (vendor tree)

[2018-10-15 18:51] lieut-data commented on #176
Hey @walidsebai, thanks for relocating the original [issue](https://github.com/mattermost/docs/issues/2336) and posting the detailed error.

Something doesn't seem right in the errors above: `github.com/mattermost/mattermost-server
/cmd/mattermost/commands` is part of the repository in question, so it would never be part of `vendor/` in the first place, and thus not affected by `dep ensure`.

Did

[2018-10-15 19:03] walidsebai commented on #176
yes i did follow , maybe i did the `Edit /etc/security/limits.conf` the last thing but don't thing that would affect the setup. i think it would be better if we recreate it ?

[2018-10-17 23:45] walidsebai commented on #176
i think i understand the problem, it's my fault i downloaded the source code in go/src/ so yeah u are right sorry for the inconvenience, i'm closing this now.

[2018-10-17 23:45] #176 closed

[2018-11-27 13:04] hanzei commented on #19
Is this still a thing? The Blog looks fine to me.

[2018-11-27 13:06] hanzei commented on #5
Is this something we still want?

[2018-11-27 13:08] hanzei commented on #59
I don't thing this is possible with hugo. If `draft` is set to `true`, hugo just ignores these pages.

[2018-11-27 13:18] jwilander commented on #59
Sure but I bet we could write a bit of custom code or templating to do this

[2018-11-27 13:18] jwilander commented on #5
Yes for sure

[2018-11-27 13:18] jwilander commented on #19
No, I think we'll be going with what we have

[2018-11-27 13:18] #19 closed

[2018-11-28 14:05] #60 closed

[2018-11-28 14:35] #25 closed

[2018-12-05 13:39] elvisfromsouth opened #199 "my build dot work"
i build my android apk (via `make build-android`), but i see only spash screen

[code]

also
i try `make unsigned-android`, but i cant install apk

[2018-12-05 13:54] hanzei commented on #199
Closing this one as its a duplicate of https://github.com/mattermost/mattermost-mobile/issues/2420

[2018-12-05 13:54] #199 closed

[2018-12-07 07:43] #5 closed

[2019-01-31 15:57] jwilander opened #229 "Re-add categories for blog posts"
Need to re-add categories for blog posts and figure out why they were working locally but not on the production or other Travis built versions of the site.

They were removed in #228

[2019-02-05 01:17] sadohert opened #231 "Server Plugin Developer Workflow - Document rebuild and redeploy steps."
It would be helpful to have some steps for making code changes, rebuilding, and redeploying server plugins for testing at the bottom of https://github.com/mattermost/mattermost-developer-documentation/blob/master/site/content/extend/plugins/server/hello-world.md#installing-the-plugin.

What's the most efficient approach?  Right now I disable the plugin in the Management Console, then:
[code]

Then

[2019-02-05 09:21] hanzei commented on #231
Hey @sadohert,

The most efficient approach is to run just `make deploy`. It takes care of removing the old plugin and enables the new installed version. No further steps are needed.

The site you linked is a generic introduction into plugins. `make deploy` is only available on plugins which use the [Sample Plugin template](https://github.com/mattermost/mattermost-plugin-sample/). Hence I would mu

[2019-02-05 10:15] sadohert commented on #231
Ahhh yes.   I wasn't thinking about the `make deploy` being a plugin project-specific thing.  So yes, probably makes sense to improve the readme.

But even within the context of someone building a plugin with their own build scripts, are you saying we should be able to just replace the plugin binary and the server will pick this up and start using it?  For me, I:
* cloned the plugin-sample,
* edit

[2019-02-08 14:27] jasonblais opened #234 "Numbered list unexpectedly restarts in /internal/writing-a-blog-post/"
Repro:

1. Go to https://developers.mattermost.com/internal/writing-a-blog-post/
2. Read the doc, and notice that the numbered list restarts at 1 after the code block

![image](https://user-images.githubusercontent.com/13119842/52484062-68c59480-2b83-11e9-987b-3b76c7c27304.png)

This is even though the GitHub .md file has the correct numbered list

https://github.com/mattermost/mattermost-develope

[2019-02-08 14:36] jwilander commented on #234
Probably just need to tab in the code block

[2019-02-08 14:44] jasonblais commented on #234
Trying that https://github.com/mattermost/mattermost-developer-documentation/pull/235

[2019-02-08 15:11] sadohert commented on #231
Thanks @levb .... I'll close this issue.  Ultimately I wanted to understand the "developer workflow" for `code > build > deploy > test > repeat`.  I wasn't finding repeating the steps in the server/plugin docs was resulting in a sane workflow (seemed like I was having to restart the server and `kill` plugins to see updated behaviour)... BUT, after:

1) Updating my server to the latest,
2) Removing

[2019-02-08 15:11] #231 closed

[2019-02-08 15:12] #234 closed

[2019-02-08 15:12] jasonblais commented on #234
Thanks Joram! Resolved by https://github.com/mattermost/mattermost-developer-documentation/pull/235

[2019-02-08 15:37] hanzei commented on #231
Thank you very much for your feedback @sadohert!

[2019-03-13 09:26] JAGFin1 opened #250 "Provide response payload example for submission of Interactive Dialog"
Humble apologies if this has previously been covered, or if I've missed it, but the documentation for how to handle responding to an Interactive Dialog submission appears to be a bit unclear.

**Page**: https://docs.mattermost.com/developer/interactive-dialogs.html

The text states:

However it is not clear on how to structure this response. I have made attempts to respond with a payload akin to a

[2019-03-13 14:07] hanzei commented on #250
Hey @JAGFin1,

Right now there is no way to directly send an ephemeral message within the dialog submit response. But you can use the [REST API to do so](https://api.mattermost.com/#tag/posts%2Fpaths%2F~1posts~1ephemeral%2Fpost). Or the plugins API if you are developing a plugin.

On the other hand I see the need of having the possibility build into the response.

@jasonblais Thoughts on adding so

[2019-03-13 14:46] jasonblais commented on #250
@hanzei 0/5, but I think @JAGFin1 is asking for a concrete example of how to respond to a Dialog submission. Is this something you'd be open to helping with, or should we queue this for engineers to help with?

[2019-03-13 15:07] hanzei commented on #250
A basic example would be:

[code]

inside your http server that handles the submit dialog request. This would show an error for the element with the key `someKey`.

@JAGFin1 Are you using a plugin or the REST API to open the dialog? If you want, I can share an example on how to send an ephemeral message.

[2019-03-13 15:44] JAGFin1 commented on #250
Hi @hanzei,

I'm using the REST API to open the dialog. That's working as intended. The specific issue is when the user submits the dialog (and thus performs a request back to my service), I do not know what the HTTP response should contain in order for Mattermost to display a message as a "Your submission has been logged" type of message.

That being said, I believe I may have misunderstood the o

[2019-03-13 17:31] hanzei commented on #250
That is correct @JAGFin1.

@jasonblais what do you think about clarifying this in the docs?

[2019-03-13 21:18] jasonblais commented on #250
Certainly, does this document update capture it?

https://github.com/mattermost/docs/pull/2592

[2019-03-14 10:51] JAGFin1 commented on #250
Thanks for the clarification @hanzei and @jasonblais. The amendment to the documentation has made it clearer about what the integration needs to do. If possible, a JSON example for the HTTP API (and endpoint) or a reference to the `/posts/ephemeral` documentation would be perfect.

[2019-03-15 07:17] hanzei commented on #250
Thanks for your suggestion @JAGFin1. :+1:  I opened a PR to add a code sample to the API documentation.

Closing this one.

[2019-03-15 07:17] #250 closed

[2019-03-15 20:01] svelle opened #256 "windows dev setup recommends install of babun"
step 6 recommends installing babun which is officially discontinued as of january this year

an alternative should be found somehow. like mingw or cygwin or something like that.

[2019-03-15 20:01] svelle commented on #256
I'm currently working on getting a proper setup to run maybe I can fix the docs then. But I'm happy for anybody else who wants to help out

[2019-03-15 20:08] cpoile commented on #256
I don't run windows... But docksal has an issue like this as well, and I think they're moving to just using WSL: https://github.com/docksal/docksal/issues/1004

[2019-03-15 20:09] svelle commented on #256
that's not a bad idea at all. I just use the git bash that's installed with git for windows but using WSL could work too

[2019-03-21 18:28] checkaayush opened #260 "Typo: Package name for utils and api4 in server docs"
- https://developers.mattermost.com/contribute/server/#server-packages lists `util` as a server package, when it should be `utils`.
- Broken link for `api4` package on https://developers.mattermost.com/contribute/server/developer-workflow/#workflow

[2019-03-21 19:06] #260 closed

[2019-03-29 03:11] QueenMarisWang commented on #256
curl http://localhost:8065/api/v4/system/ping                                                                                                    /cygdrive/c/Go/src/github.com/mattermost/mattermost-server
curl: (7) Failed to connect to localhost port 8065: Connection timed out

how should i solve this?thx

[2019-07-21 11:50] Rajakavitha1 opened #330 "Need a documentation style guide"
We do have a great style guide for code: https://docs.mattermost.com/developer/style-guide.html
However, we dont seem to have any guidelines for writing content, in other words, a documentation style guide. A documentation style guide is critical to ensure that the format, content, word usage, typographic conventions, and language is consistent across the document.

[2019-07-21 17:23] svelle opened #332 "Help Wanted: Update push proxy setup with docs for systemd distros"
the current docuementation [here](https://developers.mattermost.com/contribute/mobile/push-notifications/service/) is probably written with ubuntu 16.04 in mind which still used upstart. doing the steps on 18.04 won't work since it's using systemd.

the docs need to be updated to reflect those changes since this will also not work on newer rhel releases and 16.04 will be EOL in 2020.

Elias also p

[2019-07-28 16:52] jasonblais opened #340 "Document help wanted issue creation process"
Contributions without tickets, including raising a proposal for a help wanted issue, are documented here

https://developers.mattermost.com/contribute/getting-started/contributions-without-ticket/

However, [core committer](https://developers.mattermost.com/contribute/getting-started/core-committers/) process for creating these Help Wanted issues is not documented. Propose we do so. The process is

[2019-08-09 11:25] hanzei opened #347 "Update cherry pick process"
With the new automated cherry picks, the documentation needs an update:
- https://developers.mattermost.com/contribute/getting-started/branching/#cherry-pick-process-developer
- https://developers.mattermost.com/contribute/getting-started/code-review/

Also the label list needs an update.

[2019-08-09 11:25] hanzei commented on #347
@cpanato Would you take care of this?

[2019-08-09 11:37] cpanato commented on #347
i can add in my backlog, low priority

[2019-08-23 23:10] jfrerich opened #348 "Help Wanted: When Selecting a Tab From The LHS, The Parent Tab Collapses"
### Context
When selecting a child tab of a parent tab that only contains single-leveled children, the tab stays open and highlighted. Example: `Web App > Developer Apps`

Selecting any tab should update the RHS content window and the newly clicked tab should remain highlighted.  Also, the parent should not collapse.

However, when selecting a child tab of a parent tab that contains multi-leveled

[2019-08-25 17:56] jfrerich opened #349 "Update list of channels and teams for onboarding"
### Summary
The list of example channels for new members to join is outdated.

https://developers.mattermost.com/internal/onboarding/new-staff-guide/

Some noted discrepancies, but not a complete list:
- Private Core Team -> Staff
- Community/Customers -> Does not exist
- Platform Meeting -> Does not exist
- Standup -> misspelled. should be Stand-up
- Confidential Bugs -> in Staff, not Contributor

[2019-08-28 15:28] glunardi opened #350 "Make nodejs 10.11.0 (npm 6.4.1) strongly recommended (required?)"
Currently, the [Developer Setup](https://developers.mattermost.com/contribute/mobile/developer-setup/) page reads:

`This includes NPM which is also needed. Currently version 10.11.0 is recommended with npm 6.4.1. 11.x is not working.`

After several hours of trying to create a reproducible build environment for our needs, I believe that the version 10.11.0 with npm 6.4.1 is not only recommended,

[2019-09-05 16:30] matterdoc opened #357 "Request for Documentation: Test"
Mattermost user `joram` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/zm4iko67ejbpt8ptfo8ofmqn7w).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-05 16:30] #357 closed

[2019-09-06 14:22] matterdoc opened #358 "Good code review ideas"
Mattermost user `joram` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/ixdjfhbxhjdqjbj93m5x9g1zdo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-12 12:52] matterdoc opened #362 "Updating stores requires running `make store-layers` in addition to `make store-mocks` now"
Mattermost user `joram` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/rfbn96eotiyjznunf4cur3auth).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-12 12:53] matterdoc opened #363 "Request for Documentation: How to update the config"
Mattermost user `joram` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ofu7ozq5wfnp5r4x5jds7ze1ho).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-17 13:44] matterdoc opened #364 "Request for Documentation: Document requirement to install docker-compose"
Mattermost user `jesse.hallam` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/xjncudp6nfb4dprgyj6f1sqa9e).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-17 14:32] hanzei opened #365 "Move Plugins on Community Server into internal section"
I not a topic that is important to the public. My proposal is to move it into the internal section.

@levb @lieut-data Objections?

[2019-09-17 14:36] cpanato commented on #365
if moving to a internal documentation, please move to this: https://github.com/mattermost/internal-docs
/cc @DSchalla

[2019-09-18 16:39] cpanato commented on #347
@hanzei i guess you did that, right?

[2019-09-18 16:41] hanzei commented on #347
Not really. These two pages still need an update.

[2019-09-18 16:52] lieut-data commented on #365
No objections. This information might naturally surface if we expose the marketplace to non-system administrators anyway.

[2019-09-19 08:14] hanzei commented on #365
I'm confused. Carlos proposed to move it into a _private_ repo. Are you fine with that?

Or is this page outdated anyway and we should just rely on the marketplace?

[2019-09-25 01:33] lieut-data commented on #365
Hmm. I'm inclined to think the information will always be outdated, and we can just rely on the marketplace as such (eventually). @levb, any concerns with just dropping this section on mattermost.dev instead?

[2019-09-25 03:23] levb commented on #365
No objections at all

[2019-09-30 11:25] hanzei commented on #365
@cpanato @DSchalla What is the reason this should be in a private repo? The information is not sensitive IMO, just unnecessary for the public.

[2019-09-30 11:28] DSchalla commented on #365
@hanzei While this information may not be sensitive, there is other information which is. Since this information has no use to the public, moving it to the dedicated internal documentation repository may make sense.

In this specific case I don't have a strong opinion on it however.

[2019-09-30 11:40] cpanato commented on #365
@hanzei @DSchalla agree with Daniel, also this documentation the public will not get any benefit with.

[2019-09-30 11:55] hanzei commented on #365
After reconsidering I think there **is** value in this being plugin. It encourages plugin devs to push there plugins to the community server. Let's leave it as it is, if no one has strong objections.

[2019-09-30 11:55] #365 closed

[2019-10-01 17:28] matterdoc opened #378 "Request for Documentation: Document that Jira mentions need to be turned on by the authenticated user"
Mattermost user `aaron.rothschild` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/x7kic6kxi3dgdbaw8zy3kmmfjc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-02 05:25] hanzei commented on #378
@aaronrothschild Should this issue be here or in the jira repo?

[2019-10-02 07:43] sidletsky opened #379 "Update docs at webapp/build-component"
#### Summary
Docs under [this](https://developers.mattermost.com/contribute/webapp/build-component/) address are outdated. Old React API, migration to TypeScript is not mentioned

#### Possible fixes
There could be pure functional components in new React style (hooks) in TypeScript.

[2019-10-02 14:04] aaronrothschild commented on #378
@hanzei It's going to go into the Jira repo, I made an issue for docup that would address this.... basically add an option to let the user select/type a repo when using docup. But in the meantime, I'll close this out and add to Jira Readme.

[2019-10-02 14:31] hanzei commented on #378
@aaronrothschild We can just transfer the issue, if you want
![Screenshot from 2019-10-02 16-31-08](https://user-images.githubusercontent.com/16541325/66053154-141bc300-e532-11e9-9814-5bfe7e741ad9.png)

[2019-10-02 17:11] hanzei opened #380 "Get rid of GOPATH in the developers setup guide"
Given we are now 100% using the local vendor folder with go modules, there is no need clone the repo inside `GOPATH` any longer. We should remove this from our setup guide.

Keep in mind that the server and webapp directories still have to be in the same directory so our `Makefile` can find them.

[2019-10-04 12:50] #364 closed

[2019-10-08 04:03] jorgeruvalcaba commented on #380
Can I work on this issue?

[2019-10-08 06:25] hanzei commented on #380
Sure, that would be awesome @jorgeruvalcaba  :tada:

[2019-10-08 06:30] hanzei commented on #358
Making this a help wanted. If someone want to make a proposal, let me please know.

[2019-10-08 06:37] hanzei commented on #358
Making this a help wanted. If someone want to make a proposal, let me please know.

[2019-10-08 19:30] FlaviaBastos commented on #363
I would like to work on this one, please.

[2019-10-10 18:57] jorgeruvalcaba commented on #380
Added a PR for this issue, thanks @hanzei

[2019-10-10 20:29] matterdoc opened #388 "Request for Documentation: `make i18n-extract` process to generate localization in webApp and Server"
Mattermost user `maria.nunez` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/yj4qwexi93nbzykho1ewadr6za).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-15 14:55] #363 closed

[2019-10-17 06:39] #380 closed

[2019-10-17 15:28] matterdoc opened #395 "Request for Documentation: How do I do cherry-pick"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/gt7grnb7ojd88xrnffg8r6efxh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-17 15:30] hanzei commented on #395
@jasonblais Will https://github.com/mattermost/mattermost-developer-documentation/pull/366 fix this issue?

[2019-10-18 13:48] matterdoc opened #398 "Request for Documentation: Das ist eine Doku"
Mattermost user `der_test` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/3rw1ojgc3idi9eo5coaxpth3qa).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-19 06:59] DaKeiser opened #399 "UPDATING DOCUMENTATION: Fixing broken links related to Contribution Guidelines"
#### BUG

###### Description
In [`developer-workflow.md`](https://github.com/mattermost/mattermost-developer-documentation/blob/master/site/content/contribute/server/developer-workflow.md) there are a few links like [this](https://docs.mattermost.com/developer/contribution-guide.html#preparing-a-pull-request), which I believe to my knowledge are broken.

###### Suggestions for improvement
On resea

[2019-10-19 19:04] DaKeiser commented on #399
@hanzei thanks for assigning, fixed this issue in PR #400

[2019-10-20 07:02] DaKeiser commented on #399
@hanzei I unassigned myself by mistake. No hard feeluings XD

[2019-10-20 08:58] DaKeiser opened #401 "UPDATING DOCUMENTATION: Fixing broken links related to REST API"
#### BUG

###### Description
In [`REST API`](https://developers.mattermost.com/contribute/server/rest-api/) there are a few links like [this](https://docs.mattermost.com/developer/dev-setup.html) and [this](https://docs.mattermost.com/developer/api4.html#writing-a-unit-test) in `Implementing the API handler` title, which I believe to my knowledge are broken.

###### How to fix it
I believe we must

[2019-10-20 09:56] DaKeiser commented on #401
And I'm really sorry, as this is the same kind of issue I had raise yesterday too. As far as I know, these are the final links which are broken.

[2019-10-23 14:18] matterdoc opened #404 "Request for Documentation: How to run with dev environment without Docker"
Mattermost user `joram` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/xgnbdt9ejjfqjn18swubguor1c).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-28 13:51] justinegeffen commented on #330
Hi @Rajakavitha1. Thanks for raising this. We do have a Documentation Style Guide located here: https://docs.mattermost.com/guides/core.html#documentation-style-guide. Is that more along the lines of what you're looking for? If you have any suggestions for improving the guide, that'd be great.

[2019-10-28 13:59] Rajakavitha1 commented on #330
Hi @justinegeffen Thanks for the link. This is exactly what I was looking for.

[2019-10-28 13:59] #330 closed

[2019-10-29 03:10] Rajakavitha1 commented on #401
Hi @DaKeiser ! This is now fixed in the PR https://github.com/mattermost/mattermost-developer-documentation/pull/409

[2019-10-29 19:17] #401 closed

[2019-10-30 03:28] hanzei commented on #399
Fixed with https://github.com/mattermost/mattermost-developer-documentation/pull/410

[2019-10-30 03:28] #399 closed

[2019-10-30 03:30] #349 closed

[2019-10-30 21:58] matterdoc opened #415 "Request for Documentation: Mattermost as a OAuth 2.0 Service Provider - Supported Grant Flows and URLs"
Mattermost user `joram` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/5jp94uyo8f8ftjk4w6qqz11yyc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-11 22:33] matterdoc opened #429 "Request for Documentation: [Desktop] Document config.json file parameters along with validation requirements"
Mattermost user `deanwhillier` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/wcy4jcrrufgz7pjftu4kt1ay3r).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-13 13:49] hanzei opened #432 "Document auto merge feature"
See https://github.com/mattermost/mattermost-mattermod/pull/62

cc @cpanato

[2019-11-14 09:15] #432 closed

[2019-11-14 09:37] chetanyakan opened #434 "Add minimum server version in Webapp plugin reference"
In the [webapp plugin reference page](https://developers.mattermost.com/extend/plugins/webapp/reference/), the minimum server version required to register various components is not mentioned.

If the minimum server version requirements are not met, the mattermost webapp shows a blank page with an error in console.
This is for all users including system admins.
The only way to disable the plugin is

[2019-11-18 17:21] bvineyar commented on #429
I am updating https://github.com/mattermost/docs/edit/master/source/deployment/desktop-app-deployment.rst with this new information, and also updating with text for the latest version 4.3.1.

[2019-11-19 15:22] #429 closed

[2019-11-22 14:52] matterdoc opened #444 "Help Wanted: How do you test server-side telemetry?"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/9w513y6afpdtpmp66tj5um76ww).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-30 15:38] matterdoc opened #449 "Help Wanted: Document what to do if a merged PR has a bug that was missed during PR reviews"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/3mo4k3kk6bypdje4ynqzdji19h).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-03 02:59] matterdoc opened #454 "Request for Documentation: Plugin starter template readme"
Mattermost user `christopher.poile` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/3k4y3oni1tfidga7c6e6qfcnzo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-03 03:33] cpoile commented on #454
Actually, not needed.

[2019-12-03 03:33] #454 closed

[2019-12-05 13:10] #347 closed

[2019-12-05 19:00] matterdoc opened #459 "Request for Documentation: Docker bridge network can interfere with the Mattermost VPN and DNS resolution for internal.mattermost.com (172.18.0.0/16)"
Mattermost user `jason.deland` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/cfo4ud7dyf8cif7hdzc3pwbw1r).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-10 15:30] mattermod opened #460 "For the table of contents of the Plugin Hooks/API docs, each method is listed twice."
For the table of contents of the Plugin Hooks/API docs, each method is listed twice. For example, in the attached picture, the Bot API methods are listed twice. See https://developers.mattermost.com/extend/plugins/server/reference/#API

![Image Pasted at 2019-12-9 14-43](https://user-images.githubusercontent.com/16541325/70543530-d27b4a00-1b6a-11ea-8749-32758cea5cf5.png)

*Issue created from a [me

[2019-12-11 20:59] matterdoc opened #464 "Request for Documentation: Update mattermost-server README.md to replace pre-release links."
Mattermost user `jesse.hallam` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/9nzyqs3ewbrrjmyrhmrge4yjmo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-13 15:41] MariadeAnton commented on #78
Hey @MusikPolice  - I checking out open issues and noticed that this one can be closed since you're no longer using Travis CI: https://github.com/mattermost/mattermost-developer-documentation/commit/25f30e65d5087cfd1252bfabdb97fa447c20b2fc 💪

[2019-12-16 08:47] hanzei commented on #78
Good catch @MariadeAnton. I think this can be closed

[2019-12-16 08:47] #78 closed

[2019-12-16 08:48] hanzei commented on #398
Closing this as invalid.

[2019-12-16 08:48] #398 closed

[2019-12-23 07:31] hanzei opened #475 "Add setup guides for specific IDEs"
There should be documentation on how to set up specific IDEs with:
- Linters
- Autocomplete
- Executing tests within the IDE
- ...

Possible IDEs:
- VS Code
- vim
- ...

[2020-01-10 16:47] matterdoc opened #489 "Request for Documentation: Typo in plugin webapp developer documentation"
Mattermost user `lev.brouk` from https://community.mattermost.com has requested the following be documented:

[code]
const React = window.react;
const PostUtils = window['post-utils']; // import the post utilities
import PropTypes from 'prop-types';
import {makeStyleFromTheme} from 'mattermost-redux/utils/theme_utils';
[code]

See the original post [here](https://community.mattermost.com/_redirect

[2020-01-13 17:22] matterdoc opened #493 "Request for Documentation: Document custom post types more explicitly"
Mattermost user `jesse.hallam` from https://community-release.mattermost.com has requested the following be documented:

[code]
[code]

[2020-01-14 14:05] hanzei opened #497 "GitHub action does fail for every commit touching a blog file but not adding a new one"
E.g. https://github.com/mattermost/mattermost-developer-documentation/commit/ec4720c447f2c3d6f76e181ee0280da3da8e24a8 did change one of the files in `blog/` but did not add a new one. Hence, no notification should (and was) send, but the gh action failed with:
[code]
See https://github.com/mattermost/mattermost-developer-documentation/runs/383456074 for the build log.

_Originally posted by @hanze

[2020-01-16 07:42] avasconcelos114 opened #499 "Duplicate links in server plugin reference page"
As seen in image below, all the links in the server reference for plugins repeat themselves 2 times.

![server_reference_links](https://user-images.githubusercontent.com/29700158/72503340-d17ebc00-387e-11ea-99eb-425481e04b03.png)

Page link: https://developers.mattermost.com/extend/plugins/server/reference/

[2020-01-17 00:32] #499 closed

[2020-01-17 00:32] avasconcelos114 commented on #499
Closed this in favor of https://github.com/mattermost/mattermost-developer-documentation/issues/460 (duplicate)

[2020-01-18 21:35] mroe opened #506 "contribute/server/developer-setup not rendering properly"
It looks like `contribute/server/developer-setup.md` is rendering correctly in my local Hugo installation, but fails on https://developers.mattermost.com/contribute/server/developer-setup/.

[2020-01-18 21:38] mitchellroe commented on #506
I've tested in Firefox 68.4.1esr and Google Chrome 79.0.3945.130 on Debian 10.

![image](https://user-images.githubusercontent.com/51406825/72670883-f30fad00-3a10-11ea-847a-100a15c34e44.png)

[2020-01-18 21:42] mitchellroe commented on #506
Here it is on my local Hugo installation:

![image](https://user-images.githubusercontent.com/51406825/72670909-4f72cc80-3a11-11ea-8c7f-748833306a7f.png)

[2020-01-18 22:21] mitchellroe commented on #506
I was running hugo v0.54.0/extended from the base Debian repositories, from which I made the above screenshot.  I upgraded my local hugo installation to v0.62.2-83E50184, and my experience is the same as on <https://developers.mattermost.com/contribute/server/developer-setup/>.

[2020-01-18 23:43] mitchellroe commented on #506
Looks like it broke with Hugo v0.60.0; v0.59.1 works fine.  I'll look through the release notes to see if there's something they changed which would cause this behavior.
https://github.com/gohugoio/hugo/releases/tag/v0.60.0

[2020-01-18 23:50] mitchellroe commented on #506
They switched from Blackfriday to Goldmark.
https://gohugo.io/news/0.60.0-relnotes/

Adding their recommended yaml block at the top of the file allows the HTML to be rendered.

[code]

[2020-01-20 09:55] #460 closed

[2020-01-21 09:06] hanzei commented on #506
Fixed via https://github.com/mattermost/mattermost-developer-documentation/pull/509

[2020-01-21 09:06] #506 closed

[2020-01-21 09:35] hanzei opened #510 "Support paging for developers blog"
Currently https://developers.mattermost.com/blog/ shows the first 10 blog entries. This issues is about adding support for paging by adding a "previous posts" clickable text at the bottom that brings up the next 10 blog posts.

[2020-01-21 09:40] hanzei opened #511 "Help Wanted: Check generated HTML file"
To ensure the generated HTML files are valid and all links are working, a new step should be included in the CircleCI pipeline. Using https://github.com/gjtorikian/html-proofer or a similar proofer all generated files should be checked.

To reduce the initial work load to implement this changes, skipping some checks with e.g. `--empty_alt_ignore` is fine.

Bonus points for adding a `make check` ta

[2020-01-21 09:40] hanzei opened #512 "Support paging for developers blog"
Currently https://developers.mattermost.com/blog/ shows the first 10 blog entries. This issues is about adding support for paging by adding a "previous posts" clickable text at the bottom that brings up the next 10 blog posts.

[2020-01-21 09:41] hanzei commented on #512
Duplicate of https://github.com/mattermost/mattermost-developer-documentation/issues/512

[2020-01-21 09:41] #512 closed

[2020-01-25 18:34] hanzei opened #518 "Blog announcement fails if title contains ""
If a blog post title contains a `"`, posting the announcement will fail, like in e.g. https://github.com/mattermost/mattermost-developer-documentation/runs/405407639

This can be fixed by e.g. removing all trailing and starting `"` in the github action.

[2020-02-01 23:07] matterdoc opened #528 "Request for Documentation: Minimum software requirements for developer environment"
Mattermost user `theriverman` from https://community.mattermost.com has requested the following be documented:

[code]
kristof@vscode:~/projects/mattermost-server$ docker version
Client: Docker Engine - Community
 Version:           19.03.5
 API version:       1.40
 Go version:        go1.12.12
 Git commit:        633a0ea838
 Built:             Wed Nov 13 07:29:52 2019
 OS/Arch:           linux/am

[2020-02-17 09:08] #528 closed

[2020-02-17 09:17] #497 closed

[2020-02-26 20:49] matterdoc opened #542 "Request for Documentation: Add to interactive-messages documentation"
Mattermost user `christopher.poile` from https://community-release.mattermost.com has requested the following be documented:

[code]
[code]

[2020-02-26 23:26] M-ZubairAhmed commented on #542
I will take this

[2020-02-28 13:30] matterdoc opened #544 "Request for Documentation: test issue"
Mattermost user `justine.geffen` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/5nsyxj947pdgbpd6sywtrbdr7e).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-02-28 13:30] #544 closed

[2020-03-06 15:33] matterdoc opened #551 "Request for Documentation: PR Test Servers - Using server branch with webapp branch"
Mattermost user `joram` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ju3tegnsp7gr58yxtgxidck9de).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-13 07:58] matterdoc opened #557 "Request for Documentation: testing doc"
Mattermost user `erkage` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/dor5zq1697b3jkmxrt8kmetade).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-13 07:59] erkage commented on #557
sorry, just testing this feature! can be deleted!

[2020-03-18 10:35] Nienzu opened #566 "Outdated Content of Quick Start > Server plugins"
As the sample code for plugin.go in Quick Start > Server plugins
![擷取](https://user-images.githubusercontent.com/11226260/76951078-07efba80-6946-11ea-9b29-e84e5b2d0848.PNG)

when execute `go build -o plugin.exe plugin.go`  would be error. And the message is below:

[code]

So, I try to change the import line from
[code]
to
[code]

Then it work fine.

[2020-03-18 10:36] Nienzu commented on #566
I would like to help fix this issue, but I can not find the file location for the sample code for plugin.go.

[2020-03-20 14:14] #518 closed

[2020-03-24 11:06] hanzei commented on #542
Thanks @M-ZubairAhmed :+1:

[2020-03-24 11:07] #557 closed

[2020-03-24 11:13] hanzei commented on #566
Hey @Nienzu,

Thanks for your report. Did you tried using Go Modules for dependency managment? If you run `go mod init` before running `go build` it works fine.

[2020-03-24 21:11] RohitJain13 commented on #489
See is pull request https://github.com/mattermost/mattermost-developer-documentation/pull/572 address this, or if there is more needed.

[2020-03-24 21:19] RohitJain13 commented on #459
The original post referenced cannot be found

[2020-03-25 00:31] jaydeland commented on #459
@rohitjain13 First off - thank you for taking an interest in this issue and helping us get it resolved 😊!

It was a private conversation between myself and Daniel S. Basically, the docker-compose network that is created when you use our makefile defaults to 172.18.0.0/16

Just an FYI - you can also use docker cli
jpd@pop-os:~/go/src/github.com/mattermost/mattermost-server$ docker network rm matter

[2020-03-25 19:08] RohitJain13 commented on #459
Should I enhance the documentation at https://docs.mattermost.com/install/prod-docker.html?highlight=compose to mention perhaps in step 3 that the network would default to 172.18.0.0/16 and if you want to change the default, see the reference you mention above?

And I could suggest there that you could use the docker cli instead of docker-compose.  I assume that the cli method is not documented in

[2020-03-25 19:59] jaydeland commented on #459
Hey @RohitJain13 - sorry for the confusion, the command above was used to remove the docker-compose network after changing the default config so that on the next run it will be generated again with the new default cidr.

[2020-03-25 20:40] RohitJain13 commented on #459
Okay, I understand now.  But could you spell out for me exactly what part of that is the command?  Is it just "docker network rm mattermost-server_mm-test"

[2020-03-25 23:12] RohitJain13 commented on #459
Please review pull request: https://github.com/mattermost/docs/pull/3480
Documenting how to change the default docker-compose network #3480

[2020-03-26 17:03] M-ZubairAhmed opened #576 "Fix legacy instructions in Readme"
In Readme , site folder is no longer used

[2020-03-26 19:33] M-ZubairAhmed commented on #542
Issue moved : this will be solved in https://github.com/mattermost/docs instead of here

[2020-03-27 07:14] #510 closed

[2020-03-27 07:19] #576 closed

[2020-03-27 11:19] Nienzu commented on #566
Hi @hanzei ,

It works! Thank you :>

[2020-03-27 11:19] #566 closed

[2020-03-29 17:11] matterdoc opened #580 "Request for Documentation: Deprecate old guidance on how to add plugins to community"
Mattermost user `lev.brouk` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/4hmqsf7g5brizgxp5hm5gf9uyc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-29 18:14] #542 closed

[2020-03-29 19:43] hanzei commented on #580
@levb What exactly needs up the updated in our docs?

[2020-03-30 11:57] #459 closed

[2020-03-30 23:17] #489 closed

[2020-04-09 07:52] matterdoc opened #592 "Request for Documentation: Document existing cirleci contexts"
Mattermost user `hanzei` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/jrateobthtb7ze7p4op3emm4gc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-04-09 07:52] hanzei commented on #592
*@hanzei attached a* [message](https://community-release.mattermost.com/core/pl/q9eirpbox38x7buorcnzh5rxph) *from @elisabeth.kulzer*
you can use
`matterbuild-github-token`

with `GITHUB_TOKEN` and `GITHUB_USERNAME` as variables (credit to carlos)

[2020-04-09 07:52] hanzei commented on #592
*@hanzei attached a* [message](https://community-release.mattermost.com/core/pl/ngn39bzj5irduceinnnsay61oy) *from @hanzei*
Hi DevOps-Team,

Not urgent:  I did take a look at https://mattermost.atlassian.net/browse/IS-314 and found a fix. But a GitHub API key is needed to get the commit status. Should I use a personal key or would one of you generate one and add it to the context `mattermost-dev-do

[2020-04-14 17:14] matterdoc opened #597 "Request for Documentation: make webapp-debug"
Mattermost user `christopher` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/1xg3dxw5kj8htjezht5zz5j94c).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-04-14 17:15] crspeller commented on #597
*@christopher attached a* [message](https://community-daily.mattermost.com/core/pl/b1szzfbhkb84tm6d5ykuqq1tfr) *from @maria.nunez*
We should include this into the [Quick Start](https://developers.mattermost.com/extend/plugins/webapp/hello-world/) webapp reference

[2020-04-28 11:07] #388 closed

[2020-05-04 14:45] matterdoc opened #612 "Request for Documentation: Use `github.com/pkg/errors` for all server error handling"
Mattermost user `ali.farooq` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/km5mdtqefjdgzn478zy5sm81de).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-05-04 20:21] matterdoc opened #613 "Request for Documentation: Add step to run webhook test server to e2e docs."
Mattermost user `christopher` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/xgwsusoagbfztf7rbmgrgfrfgw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-05-07 03:46] matterdoc opened #616 "Request for Documentation: test"
Mattermost user `matt` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/8uzsksa6otn5dbw987j873urph).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-05-07 07:42] #616 closed

[2020-05-13 16:14] matterdoc opened #618 "Request for Documentation: Document Test Server labels"
Mattermost user `hanzei` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/hjrneszpmjra5qgnj47w7q7kmh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-05-20 21:55] jasonblais opened #624 "Process for promoting a contributor to a core committer"
This is a proposed process on how to promote a contributor to a [core committer](https://developers.mattermost.com/contribute/getting-started/core-committers/). Feedback welcome!

1. Identify a core committer
 - A core committer is a maintainer on the Mattermost project that has merge access to Mattermost repositories. They are responsible for reviewing pull requests, cultivating the Mattermost de

[2020-05-22 18:03] matterdoc opened #626 "Request for Documentation: Setup HA cluster"
Mattermost user `prapti.shrestha` from https://community-daily.mattermost.com has requested the following be documented:

[code]

2. Start Minio as file storage
a. Start its docker image
[code]
b. Add `mattermost-test` as main folder
[code]
c. Confirm that it's running by visiting ``localhost:9000`` and enter access/secret keys.

3. Start application servers
a. Save attached ``config.json`` to a f

[2020-05-25 10:37] agarciamontoro opened #627 "Default parameters are not correctly rendered in plugin registry methods"
See, for example, [registerAdminConsoleCustomSetting](https://developers.mattermost.com/extend/plugins/webapp/reference/#registerAdminConsoleCustomSetting), where `showTitle` is missing:

![image](https://user-images.githubusercontent.com/3924815/82805428-4e045580-9e84-11ea-8147-57a36ebf9aad.png)

This happens because the default parameters have a different structure in the AST returned by the par

[2020-05-27 02:03] harshilsharma63 opened #630 "Document theme CSS variables in plugin development guide"
Sometimes plugins just have to rely on injecting CSS into the page for styling, for example, when a 3rd party React component doesn't accept custom styling. This creates a problem when trying to match Mattermost's dynamic theme with the component.

However, one can very easily use CSS variables which Mattermost already has over at https://github.com/mattermost/mattermost-webapp/blob/master/sass/ba

[2020-05-27 02:04] harshilsharma63 commented on #630
I can work on this if this is accepted.

[2020-05-27 11:30] hanzei commented on #630
That would be awesome, thanks @harshilsharma63 :+1:

[2020-05-28 14:12] matterdoc opened #631 "Request for Documentation: Setup HA cluster"
Mattermost user `dylan.haussermann` from https://community.mattermost.com has requested the following be documented:

[code]

2. Start Minio as file storage
a. Start its docker image
[code]
b. Add `mattermost-test` as main folder
[code]
c. Confirm that it's running by visiting ``localhost:9000`` and enter access/secret keys.

3. Start application servers
a. Save attached ``config.json`` to a folde

[2020-05-28 14:26] DHaussermann commented on #631
OOps. This issue duplicates https://github.com/mattermost/mattermost-developer-documentation/issues/626
Closing.

[2020-05-28 14:26] #631 closed

[2020-05-31 11:20] harshilsharma63 commented on #630
@hanzei I've created the PR - https://github.com/mattermost/mattermost-developer-documentation/pull/632

[2020-05-31 11:21] harshilsharma63 commented on #630
This is how it looks <img width="665" alt="Screenshot 2020-05-31 at 4 51 33 PM" src="https://user-images.githubusercontent.com/8211068/83351134-fde33280-a35e-11ea-82e8-ac41ecea0769.png">

[2020-06-03 10:21] hanzei commented on #630
Thanks @harshilsharma63 :+1: I've requested reviews for your PR

[2020-06-03 10:28] harshilsharma63 commented on #630
@hanzei thank you!

[2020-06-05 19:39] matterdoc opened #633 "Request for Documentation: Modify developer setup docs to mention migrating to Typescript rather than migrating to Flow"
Mattermost user `michael.kochell` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/dab1jhsuhb8p3mi1c7z4pn8w9y).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-06-05 20:32] mitchellroe opened #634 "Developer setup for server lacks docker group membership instructions"
The server developer setup documentation for Fedora 31/CentOS lacks a step in which the user is added to the `docker` group. This is required in order to interact with docker.

[2020-06-08 16:19] #634 closed

[2020-06-08 16:20] mitchellroe commented on #634
This is already present in step 1.

[2020-06-09 14:06] #630 closed

[2020-06-28 14:53] mattermod opened #646 "Document WebappUtils exported for plugins"
This pr https://github.com/mattermost/mattermost-webapp/pull/4778 add the WebappUtils, with specifically browserHistory, to the web app export available for plugins.

We need to document this in the Web App reference here: https://developers.mattermost.com/extend/plugins/webapp/reference/#exported-libraries-and-functions, and preferably with an example on how to use to it to navigate internal link

[2020-07-21 16:08] #633 closed

[2020-08-07 03:24] harshilsharma2 opened #672 "Document mattermost-plugin-api/cluster in plugin docs"
There is a very interesting feature for Mattermost plugins being used in demo plugin - https://github.com/mattermost/mattermost-plugin-demo/blob/d647f1ed7fdc384f5bc163a6bba689ab4293704e/server/activate_hooks.go#L72

This specific example demonstrates running scheduled jobs in the plugin in HA mode. This is currently not documented in Mattermost server plugins [documentation](https://developers.mat

[2020-08-10 01:12] vighnesh-r opened #673 "Closing notification takes me to the top of the page"
There is a notification that says **We are hiring**.

When I try to close that by clicking the **x** on the bar, it sets the URL fragment to **#** which just scrolls me to the top.

Sometimes, I am at the mid-bottom of the documentation and just to get space, I close the notification bar, but it scrolls me to the top. It is annoying to scroll back to the bottom where I was reading.

File responsib

[2020-08-20 03:01] sadohert opened #678 "Clarify/Update recommended node.js version to 10.12.0?"
I was having an issue trying to build `mattermost-mobile` `master` branch (as of today, commit:1bba361f8976ffce80ac108e4cc0ee55349320f6).  There were errors like:

[code]

I looked at the ESLint version I was running (I believe `7.4.0`) and it [documented](https://www.npmjs.com/package/eslint/v/7.4.0) these versions for node ^10.12.0, or >=12.0.0.

In our docs [here](https://developers.mattermost.

[2020-08-26 03:50] mickmister opened #679 ""We're hiring" banner close button: Scrolls to the top of the page"
If a link is pointing to specific section of a page like [this](https://developers.mattermost.com/extend/plugins/server/reference/#API.RegisterCommand), the banner covers up the content that was linked. Clicking the X on the banner makes the browser scroll to the top of the page.

[2020-09-05 13:58] kmlhsn opened #684 ""We are Hiring" Banner reappearing in every pages after closing the banner"
Description:
"We are Hiring" Banner reappearing in every pages after closing the banner
Expectation:
"We are Hiring" Banner should not reappear n every pages after closing

[2020-09-05 14:09] kmlhsn opened #685 "no footer on blog"
description:
No footer on Blog
Expectation:
Blog should have footer

![image](https://user-images.githubusercontent.com/32615215/92306799-b13d7200-efb3-11ea-8436-42c57bc5fb16.png)

[2020-09-05 15:06] kmlhsn opened #686 "Blog posts are not in "Ascending Order" or "Descending order""
Description:
Post on the blog neither on  Ascending date Order nor Descending date order. Posts show randomly on blogs
Expectation:
Posts should be displayed on  Ascending date Order nor Descending date order.

https://developers.mattermost.com/blog/page/3/

![image](https://user-images.githubusercontent.com/32615215/92307884-60ca1280-efbb-11ea-8f75-bdb347b2e95c.png)

https://developers.mattermost

[2020-09-08 14:39] #679 closed

[2020-09-27 12:41] avasconcelos114 opened #693 "Addition to Mobile E2E Testing documentation"
I just got around to setting up mobile E2E testing with detox and would like to add a note on the documentation recommending people to seed their local environment with the `make test-data` (or `mattermost sampledata`) command.
Similar to how it's already been added to the [webapp's E2E documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/#quick-overview-on-how-to-ru

[2020-10-03 11:00] #685 closed

[2020-10-03 11:31] #686 closed

[2020-10-05 09:41] singh-sarabjeet commented on #256
I'm gonna do a setup on my windows machine and check if WSL works fine for the setup. @jespino Can you assign this issue to me? I'll raise a PR to update the docs accordingly.

[2020-10-05 09:57] singh-sarabjeet commented on #256
Alternatively, I'm thinking should we remove the Windows tab completely since we already have a setup documentation for Windows WSL? @svelle

[2020-10-05 10:42] svelle commented on #256
good point @singh-sarabjeet at the time of opening the issue the WSL section wasn't available yet so I'd be good with removing that section. However I'm not part of the dev team this is not my decision to make so I'd wait for feedback from @jespino and other folks from engineering.

[2020-10-05 10:52] singh-sarabjeet commented on #256
@svelle Sounds good. In the meantime can you assign this issue to me?

[2020-10-05 11:20] jespino commented on #256
@singh-sarabjeet assigned to you, I'm not very familiarized with the windows environment, maybe @hmhealey have an strong opinion here.

[2020-10-05 17:05] singh-sarabjeet commented on #256
Will wait for reply from @hmhealey . Also, @svelle was there a JIRA ticket associated with this?

[2020-10-05 20:35] hmhealey commented on #256
That would probably make sense. I haven't developed MM on Windows myself, but I know of a few people on the team who use WSL primarily, so those instructions should be stable enough.

[2020-10-06 09:44] singh-sarabjeet commented on #256
Please check and approve the PR. I also realised there are no instructions for windows setup for Mattermost documentation. I had to engineer my way by using WSL to install make, homebrew and then Hugo. I think these steps are required on README. @svelle can you create an issue for that or maybe I can report it.

[2020-10-06 21:02] haardikdharma10 commented on #350
Hey, I would like to fix this. Also, any other suggestions you'd like to add? @hanzei?

[2020-10-06 21:05] haardikdharma10 commented on #678
Hi @sadohert, Your issue seems related/similar to #350.

[2020-10-07 09:06] #256 closed

[2020-10-07 10:31] hanzei commented on #350
Thanks for taking a look @haardikdharma10. It would be nice to have an overview of the working nodejs versions. That would be 10, 12 and 14 right now. I think it's fine to test with the latest version of each major.

[2020-10-07 20:33] haardikdharma10 commented on #350
Thanks @hanzei, I am working on it. Also, the line `If you run into any issues getting your environment set up, check the Troubleshooting section at the bottom for common solutions.` I don't see any troubleshooting section at the bottom and the link: https://developers.mattermost.com/contribute/mobile/developer-setup/#troubleshooting doesn't make sense. Should we consider removing it? 🤔

[2020-10-08 01:29] glunardi commented on #350
@haardikdharma10 thank you very much for looking into this. Just a few days ago I attempted to build a newer version again and failed to do so (limited time).

Some of the issues I very recently faced:
- Android's API version (and build-tools) seems to be quite recent (undocumented)
- NodeJS (this ticket) version is difficult to nail down. Better documentation, recommendation would be great
- One

[2020-10-08 14:47] hmhealey commented on #350
@haardikdharma10 There's a separate Troubleshooting page in the sidebar, so that link/text might be out of date. If you could update that, it'd be great

[2020-10-08 15:34] haardikdharma10 commented on #350
@glunardi, thanks for your input, I will keep these points in mind when editing the documentation.
@hmhealey, Oh yes, I totally missed the sidebar thing. I'll update the link, for sure.

[2020-10-08 16:40] haardikdharma10 commented on #626
Hey @DHaussermann, can you help me with the file, where I need to document this?

[2020-10-12 08:11] #684 closed

[2020-10-27 20:54] jasonblais opened #722 "[Help Wanted] Mobile Usability issues detected on https://developers.mattermost.com/"
See below

![image](https://user-images.githubusercontent.com/13119842/97360450-992bf580-1874-11eb-867f-f3a25218b87b.png)

Unfortunately the report doesn't contain which pages are causing these issues, so this ticket will involve
1. investigating where the issues occur
2. resolving the issues

[2020-10-27 23:33] JorgeMadson commented on #722
I will try it.

[2020-10-27 23:55] JorgeMadson commented on #722
Sorry, have no ideia where this is happening.

[2020-10-29 12:12] jasonblais commented on #722
@JorgeMadson thank you for helping investigate!

@justinegeffen do you know if there's a way to find out where this mobility issue exists? I tried to investigate as well, but couldn't find where it's happening.

[2020-10-29 15:19] justinegeffen commented on #722
That is very odd. It's not in our search console properties (as you probably saw). I've raised it with the Marketing team.

[2020-11-02 14:02] #229 closed

[2020-11-03 01:34] mickmister opened #728 "The server contribution docs say to rebase off master, but we encourage merging instead"
Item 9 of the [Server Workflow](https://developers.mattermost.com/contribute/server/developer-workflow/#workflow) docs says:

We can instead of have something such as:

[2020-11-03 01:35] mickmister commented on #728
Maybe this should go in a different spot altogether, since it affects every repo, and not just the server repo. @justinegeffen Any thoughts?

[2020-11-06 11:43] harshilsharma63 commented on #646
Any update on this?

[2020-11-13 19:56] haardikdharma10 opened #732 "Change npm -g install react-native-cli to sudo npm -g install react-native-cli"
When setting up the mobile development environment, the developer documentation [here](https://developers.mattermost.com/contribute/mobile/developer-setup/#install-react-native-cli-tools) mentions this:

<img width="805" alt="Screenshot 2020-11-14 at 1 18 32 AM" src="https://user-images.githubusercontent.com/53044263/99115012-c9ff7f00-2617-11eb-84fb-46f5610370f0.png">

The following command ran in

[2020-11-24 04:39] mickmister opened #739 ""We're Hiring" banner overlaps on linked URLs"
If a link is pointing to specific section of a page like [this](https://developers.mattermost.com/extend/plugins/server/reference/#API.RegisterCommand), the banner covers up the content that was linked. If the page scrolled up a bit on load, then this could be avoided.

[2020-11-29 06:56] #350 closed

[2020-11-29 06:56] #678 closed

[2020-12-05 14:54] TaylorWesker commented on #732
Can you assign this to me please ?

[2021-01-07 19:36] #732 closed

[2021-02-03 21:06] lucievr commented on #722
I think I've found the issue, @jasonblais. It only happens on iPhone 5/SE and similar sized mobile phones.

Happy to submit a PR!

![mattermost-docs](https://user-images.githubusercontent.com/46979603/106809394-eb4a9700-666b-11eb-9383-6261828ba8b1.jpg)

[2021-02-03 22:44] jasonblais commented on #722
Thank you @lucievr! Would love to see a PR if you're open to help resolve

[2021-02-08 16:54] #722 closed

[2021-04-12 14:38] haardikdharma10 commented on #728
Hi @mickmister, I think the [Code Review](https://developers.mattermost.com/contribute/getting-started/code-review/) docs will be a good place to have something which you mentioned. Let me know if that sounds good and I will help make the changes :)
cc @justinegeffen

[2021-04-12 15:59] justinegeffen commented on #728
Yeah that's a good idea, @haardikdharma10. I'm happy with that. :)

[2021-04-14 01:38] #728 closed

[2021-05-04 14:45] mm-cloud-bot opened #815 "Request for Documentation: Document how to do local development on a plugin that requires an E20 license"
Mattermost user `michael.kochell` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/8oeucn5aajbrjekz5fcbho93ih).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-05-20 11:52] girish17 opened #831 "Request for documentation: How to debug server plugins on GNU/Linux system?"
This [page](https://github.com/mattermost/mattermost-developer-documentation/blob/663eefbdb6098f56f8c8e8df3c449dcd71fc5303/site/content/extend/plugins/server/debugging.md) contains documentation for MacOS only. What about other platforms?

[2021-06-30 15:18] cwarnermm opened #856 "Resolve soft 404 page crawl errors with 301 redirects"
The following two documentation pages on https://developers.mattermost.com currently include links to content that has been moved to the Mattermost Handbook:
- https://developers.mattermost.com/internal/rd-teams/
- https://developers.mattermost.com/internal/plugin-release-process/

These moved content links result in soft 404 errors when search engines crawl these pages of this site. To resolve th

[2021-07-21 18:56] #739 closed

[2021-07-23 06:14] mm-cloud-bot opened #864 "Request for Documentation: Document all webapp exports available to plugins"
Mattermost user `michael.kochell` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/bcukg3mf3pdi5j8nz9regrh5jy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-07-28 01:13] mickmister opened #866 ""Integrate" docs referencing plugins should link to plugin dev docs"
https://developers.mattermost.com/integrate/admin-guide/admin-plugins-beta
https://github.com/mattermost/mattermost-developer-documentation/master/site/content/integrate/admin-guide/admin-plugins-beta/_index.md

The plugins page in the "Integrate" section of the docs has general information about plugins, but there's no link to the plugin development docs.

We should add a sentence such as

[2021-08-03 17:33] justinegeffen commented on #673
I've tested this and it looks like it's been resolved. @vighnesh-r, please let us know if it happens again! Thank you. :)

[2021-08-03 17:33] #673 closed

[2021-08-03 17:40] justinegeffen opened #870 "Help Wanted: Mattermost Apps documentation and examples"
We have a large amount of content that needs to be written for Apps.

You can take a look at the Jira epic here: https://mattermost.atlassian.net/browse/MM-33921 (filter the issues by "Status" to see the open ones). The open issues are all up for grabs.

The App's Documentation/content lives here (Production Site): https://developers.mattermost.com/integrate/apps/
and the [source content lives her

[2021-08-03 18:12] aaronrothschild commented on #870
@justinegeffen I changed the description slightly...otherwise,LGTM

[2021-08-04 19:30] mickmister commented on #870
@justinegeffen Do you have a particular issue in mind that would be a good first issue for a contributor? Looking at the open tickets in the Apps Documentation epic linked in the issue description, I don't think any of the issues would be applicable to anyone without extensive knowledge of the framework.

[2021-08-05 00:36] ewwollesen commented on #856
@cwarnermm I created a [PR](https://github.com/mattermost/mattermost-developer-documentation/issues/856) for this if you want to take a look.

I did check [Google developer docs for 301 redirects](https://developers.google.com/search/docs/advanced/crawling/301-redirects?hl=en&visit_id=637637194365272565-1217129624&rd=1#metarefresh) and it does appear that this is a valid method for a permanent red

[2021-08-05 14:52] cwarnermm commented on #856
Thanks so much @ewwollesen!

[2021-08-09 14:36] #856 closed

[2021-08-09 14:48] #672 closed

[2021-08-11 04:12] #866 closed

[2021-08-20 16:35] mickmister opened #920 "Document the option to use `_redirect` in place of team name in a post permalink"
Previously we needed to include the team name of the post when constructing a post's permalink. Since Mattermost version `5.16`, we can use `_redirect` in place of the team name.

Below are two post permalinks. One has the team name core" and the other uses `_redirect`

`https://community.mattermost.com/core/pl/jcj11chi1pg85jpp8difhsj4eh` - Old method
`https://community.mattermost.com/_redirect/pl

[2021-09-22 19:02] mm-cloud-bot opened #937 "Help Wanted: Create links to the examples folder in Apps quick start guides"
Mattermost user `michael.kochell` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/zs7j4to7p3ggtpa3ubznppmqsy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-10-01 06:53] mm-cloud-bot opened #940 "Request for Documentation: Development environment failing to startup on MacOS due to conflicting postgres service"
Mattermost user `claudio.costa` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/baz77nphp3feffdu7zewrb3sxw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-10-03 05:35] mickmister opened #941 "Plugin help wanted ticket links are broken"
The links pointing to plugin help wanted tickets on https://developers.mattermost.com/contribute/plugins and https://github.com/mattermost/mattermost-server/issues/12656 show a 404 on GitHub when the links are clicked. The link is supposed to go to an issue search query that filters on help wanted tickets in plugin projects.

Here's the [link](https://github.com/search?q=repo%3Amattermost%2Fmatter

[2021-10-03 19:59] haardikdharma10 commented on #920
This indeed needs to be documented, thanks @mickmister. Can I get help with the file to be modified? (/cc @cwarnermm, @justinegeffen)

[2021-10-03 20:07] haardikdharma10 commented on #941
The links seem to be working fine for me @mickmister. Am I missing something here?

[2021-10-04 15:35] mickmister commented on #941
@haardikdharma10 Hmm I see. It's broken on my phone because it tries to open the search in the mobile app I use called FastHub, which doesn't handle the URL properly. I originally saw it on my friend's phone who does not use the same app so I figured the query was broken or something. I suppose there's nothing to do here. I'll look into it if I see it happen again (excluding the case of the FastHu

[2021-10-04 15:35] #941 closed

[2021-10-04 15:44] mickmister commented on #941
@haardikdharma10 Now that I think about it, there may have temporarily been an issue on GitHub's side when I saw the issue occur on my friend's device, as GitHub actually returned a 404 and he's not using the same FastHub app. Either way, still nothing for us to fix on our side.

[2021-10-04 19:38] mickmister opened #942 "Apps docker development environment should be mentioned in the Apps dev docs"
Link to the development environment README: https://github.com/mattermost/mattermost-plugin-apps/tree/master/dev

[2021-10-04 20:24] mickmister opened #943 "Be clear in plugin contribution docs about `make test` and `make check-style`"
The main checks our CI makes are done using the commands `make test` and `make check-style`. Contributors usually don't know about these commands, though they are explained in the plugin dev docs here https://developers.mattermost.com/integrate/plugins/developer-workflow.

We can surface these "especially helpful for contributions" commands on this page https://developers.mattermost.com/contribute

[2021-10-06 19:25] akshitarora921 commented on #627
Hi, Can I take this?

[2021-10-06 19:26] akshitarora921 commented on #511
Hi, can I work on this?

[2021-10-07 19:00] akshitarora921 commented on #511
@hanzei Can you give me a heads-up? I don't know about it but It sounds interesting.

[2021-10-11 20:23] haardikdharma10 commented on #943
Makes sense. Even I was unaware about them until I skimmed through the Makefile. @mickmister as you mentioned above, this should be under the heading "especially helpful for contributions". So do you want this to be added in https://developers.mattermost.com/contribute/plugins as a separate heading or it should link to https://developers.mattermost.com/integrate/plugins/developer-workflow from the

[2021-10-12 06:03] mickmister commented on #943
@haardikdharma10 Maybe the action here is to list `make test` and `make check-style` at the top of the https://developers.mattermost.com/integrate/plugins/developer-workflow page, instead of in the middle of the list. This will emphasize the importance of running CI checks locally.

I propose the first five commands be reordered, resulting in this list:

- make test
- make check-style
- make deplo

[2021-10-12 13:02] cwarnermm commented on #943
Really liking the suggestions and brainstorming on this PR! I recommend documenting the commands in one location, then linking to them from other areas of the documentation based on the user's workflow. Great suggestions on how to position the content, @mickmister!

[2021-10-12 19:27] haardikdharma10 commented on #943
Thank you for your thoughts and suggestions @mickmister and @cwarnermm. Really appreciate both of your time on this. I'll go ahead and open up a PR and we can discuss there, if there will be any blockers.

[2021-10-13 02:46] mickmister commented on #864
Thanks for this @haardikdharma10! That's a good idea to link`exports.js` at the top of the page for easy reach.

As far as changes to the [exported-libraries-and-functions](https://developers.mattermost.com/integrate/plugins/webapp/reference/#exported-libraries-and-functions) section, I propose we change the first sentence from

to

By de-emphasizing the `window` object, we can bring more emphasis

[2021-10-13 02:55] mickmister commented on #864
@haardikdharma10 You're right, this should also be explained in the [exported-libraries-and-functions](https://developers.mattermost.com/integrate/plugins/webapp/reference/#exported-libraries-and-functions) section.

[2021-10-13 04:50] mickmister opened #950 "Request for Documentation: Apps landing page improvements"
The [landing page](https://developers.mattermost.com/integrate/apps) for Apps documentation could be improved in two ways:
- Consistency between:
    - "app" versus "App" - I believe we converged on "App" being the public-facing wording
    - "apps framework" versus "Apps Framework" "App framework". - I think we converged on "App Framework" for public-facing wording. [0/5](https://handbook.matterm

[2021-10-13 12:41] haardikdharma10 commented on #950
This should be a quick fix.

1. Replacing all instances of "app" with "App".
2. Should it be "App framework" or "Apps Framework" @mickmister? Where can we discuss on it though?
3. Totally agree. For example, in "Add buttons to channel headers and post menus" section, it is very hard to figure out whether the focus is on the server named as "Marketing" or on the blue logo towards the left of search

[2021-10-19 18:15] hanzei commented on #950
When @justinegeffen and I talked about the terminology for the docs, the decision was to use `app`, not `App` as it's not a proper name. On the other hand , `App Framework` is a Mattermost specific thing.

[2021-10-19 18:53] justinegeffen commented on #950
^^ What @hanzei said. :)

An app is a universal term/thing so capitalizing it causes confusion. Even if it's "Mattermost App" we're still referring to the concept of an app and not an app specific to Mattermost. If it was specific it would be the "Mattermost something app".

I do think there may be some inconsistency in the docs which I am happy to address.

[2021-10-20 20:26] haardikdharma10 commented on #950
Great discussion everyone! @jfrerich, I have added the zoomed-in feature images here - https://github.com/mattermost/mattermost-developer-documentation/pull/954 🙂

[2021-11-02 21:30] mickmister opened #959 "The contribution docs should make it clear that the contributor should explicitly claim the ticket"
There was recently a case where a contributor expressed interest in a ticket by asking questions for clarification, and it was pretty obvious that they wanted to work on the ticket, but I didn't assign them to the ticket since they didn't claim it. Soon afterwards, someone else submitted a PR and simultaneously claimed the ticket, without asking if they can work on it.

There are two important pie

[2021-11-04 10:34] mm-cloud-bot opened #960 "Request for Documentation: Upgrade compass icon library to a new version for mobile"
Mattermost user `guillermo.vaya` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/gb46zauzc7f63gnrycxjkr4cte).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-11-11 08:11] #950 closed

[2022-01-17 17:44] bdoodo opened #986 "Help Wanted: Broken Link on Contribution Checklist"
On the page https://developers.mattermost.com/contribute/getting-started/contribution-checklist/, the 'guides' link in 11) is broken.

The link points to a missing page here: https://handbook.mattermost.com/operations/operations/publishing/publishing-guidelines/voice-tone-and-writing-style-guidelines/submitting-documentation-with-your-pr

[2022-01-25 18:18] justinegeffen commented on #94
This has been completed. :)

[2022-01-25 18:18] #94 closed

[2022-01-25 18:38] jasonblais commented on #37
We can close, this is an old ticket, thanks Justine

[2022-01-25 18:38] #37 closed

[2022-01-26 12:37] justinegeffen commented on #942
@mickmister, can you confirm whether the current README is correct or if it still needs to be updated? If it does need an update, could you provide some source material? Thank you!

[2022-01-26 12:39] justinegeffen commented on #937
Thanks, @mickmister! Can you confirm where in the guides this link should go? The guides seem pretty comprehensive and I don't want to add this in to the wrong section and confuse things. Thank you!

[2022-01-26 12:41] justinegeffen commented on #815
@mickmister, is this still required with the new package structure?

[2022-01-26 18:41] mickmister commented on #815
@justinegeffen Yes, unless you have a Professional license or greater, you will need to set the values described in the ticket description.

[2022-01-26 18:47] mickmister commented on #937
@justinegeffen Let's add it towards the top so the developer can simply skip the explanation of the example if they wish. In other words:

Note that the quick start guide is likely out of sync with the most up-to-date examples on GitHub. The examples on GitHub are the source of truth for what should be developed with the Apps framework going forward, so maybe note that the quick start examples are

[2022-01-27 13:39] cwarnermm commented on #986
Thank you, @bdoodo! Would you be open to creating a PR that fixes this broken link?

[2022-01-27 13:41] cwarnermm commented on #960
Thanks, @Willyfrog! Would you be open to creating a PR with these great details for developers?

[2022-01-27 13:48] cwarnermm commented on #920
@mickmister - It's not immediately clear to me where this documentation update would live on developers.mattermost.com. (One thing this site really needs is a search mechanism!) Would you be open to adding details to this PR on the specific page(s) of the site that would benefit most from an update?

[2022-01-27 13:56] cwarnermm commented on #693
Thank you for this great documentation recommendation, @avasconcelos114. I apologize that you didn't receive a response sooner. Are you interested in creating a PR for this documentation update? It would make sense to add this new content as a new section on the [Mobile End-to-End Testing](https://developers.mattermost.com/contribute/mobile/e2e/) page.

[2022-01-27 13:59] cwarnermm commented on #646
@marianunez - Would you or a member of your team be open to creating a PR with the necessary documentation updates to developers.mattermost.com?

[2022-01-27 14:01] cwarnermm commented on #627
@akshitarora921 - Are you actively working on this ticket?

[2022-01-27 14:03] cwarnermm commented on #626
@svelle - Can you please confirm whether the functionality above has been ported to docker-compose to support the creation of high availability clusters?

[2022-01-27 14:04] #624 closed

[2022-01-27 14:05] cwarnermm commented on #618
@hanzei - This Help Wanted ticket has been idle for some time. Would you be interested in creating a PR with the requested documentation updates?

[2022-01-27 14:06] svelle commented on #626
@cwarnermm the steps above are not related to the mattermost/docker repository. If I understand correctly this issue here is meant to spin up a local high availability setup which is not what the docker repository is meant to do.

[2022-01-27 14:07] cwarnermm commented on #626
Thanks, @svelle! Do we officially support local HA environment setups?

[2022-01-27 14:09] cwarnermm commented on #613
@crspeller - Would you be open to creating a PR for this requested documentation update?

[2022-01-27 14:10] svelle commented on #626
@cwarnermm I don't see any reason why we should, it's nonsensical because it defeats the purpose of high availability. so no we don't.

If it's meant for development purposes yeah sure, but that's outside of our domain and also "unsupported" since it's meant for development/testing only.

hope that helps :)

[2022-01-27 14:11] cwarnermm commented on #612
@hanzei - This Help Wanted ticket has been idle for some time. Would you be interested in creating a PR with the requested documentation updates?

[2022-01-27 14:12] cwarnermm commented on #597
@crspeller - Would you be open to creating a PR with the requested documentation updates?

[2022-01-27 14:13] cwarnermm commented on #580
@levb - Can you provide some additional context for this documentation request, please?

[2022-01-27 14:14] cwarnermm commented on #626
This helps a lot, @svelle. Based on your input, I'm closing this ticket.

[2022-01-27 14:14] #626 closed

[2022-01-27 14:19] cwarnermm commented on #434
@aaronrothschild - Does this documentation request continue to be valid?

[2022-01-27 14:32] cwarnermm commented on #493
@lieut-data - This ticket has been idle for some time. Would you or a member of your team be open to creating a PR with the requested documentation updates?

[2022-01-27 14:33] cwarnermm commented on #511
@cpanato - Is this something your team can assist with?

[2022-01-27 14:34] cwarnermm commented on #551
@jwilander - This ticket has been idle for some time. Would you or a member of your team be open to creating a PR with the requested documentation updates?

[2022-01-27 14:35] cwarnermm commented on #415
@jwilander - This ticket has been idle for some time. Would you or a member of your team be open to creating a PR with the requested documentation updates?

[2022-01-27 14:40] hanzei commented on #511
@cwarnermm What is the reasoning behind removing the Help Wanted from this issue? Can we keep this up for the community?

[2022-01-27 14:42] hanzei commented on #592
I'm don't have the context to document the circleci contexts. Release team team could own this.

[2022-01-27 14:42] hanzei commented on #612
@cwarnermm I'm happy to keep this as a HW.

[2022-01-27 14:44] hanzei commented on #618
I don't have enough context to do that. Maybe Cloud team would be right one to own this ticket as they also own the PR servers.

[2022-01-27 14:46] akshitarora921 commented on #627
No

[2022-01-27 14:55] agarciamontoro commented on #627
Thanks for the answer, @akshitarora921, and for all your work!

Feel free to get back at it if you want to, I'll close the PR and mark the issue up for grabs again.

[2022-01-27 14:55] #627 closed

[2022-01-27 14:56] agarciamontoro commented on #627
Whoops, I didn't mean to close the issue. Reopening :)

[2022-01-27 15:08] cwarnermm commented on #511
@hanzei - The original ask was to add a step to the CircleCI pipeline. It's my understanding that we're migrating from CircleCI to GitHub actions. With this in mind, I looped Carlos in. I wasn't sure if this ticket would need some updates to take our updated infrastructure into account, or if Carlos' team would be needed for final execution.

@cpanato has confirmed that the same type of implementa

[2022-01-27 15:09] cwarnermm commented on #612
Sounds great, @hanzei. Thanks!

[2022-01-27 15:21] akshitarora921 commented on #986
@cwarnermm I will take this. :)

[2022-01-27 15:24] crspeller commented on #597
Request is old and out of date. I guess the documentation team is not doing doc up requests anymore?

[2022-01-27 15:24] #597 closed

[2022-01-27 15:24] crspeller commented on #613
Request is old and out of date.

[2022-01-27 15:24] #613 closed

[2022-01-27 15:40] akshitarora921 commented on #986
@cwarnermm Can you please confirm the correct like as https://developers.mattermost.com/blog/submitting-great-prs/?

[2022-01-27 15:47] cwarnermm commented on #986
@akshitarora921 - Please use https://handbook.mattermost.com/operations/research-and-development/product/technical-writing-team-handbook#submit-documentation-with-your-pr-community for the link correction. Thank you!

[2022-01-27 18:10] mickmister commented on #959
@BenLloydPearson do you have any ideas on where to include this change? We definitely want this front and center for new contributors.

[2022-01-27 18:16] mickmister commented on #920
Note that this applies to basically all integration types (basically anything that could be creating permalinks to posts). So I would make it something like "When you need to create a permalink to a post..."

[2022-01-27 18:17] cwarnermm commented on #920
Love it, @mickmister! Are you open to creating the PR for this update?

[2022-01-28 04:14] avinashlng1080 commented on #960
I'm happy to give it a try.  Can you please show me how?
@enahum  @cwarnermm

[2022-01-28 07:20] akshitarora921 opened #997 "The favicon is not visible in the dark-mode"
The favicon of https://developers.mattermost.com/ does not have a white background but the favicon of https://mattermost.com/ has a white background due to which the favicon of the developer's website is not visible in dark mode.
Attaching the screenshot of tabs.
![image](https://user-images.githubusercontent.com/11087313/151503920-7bd9d8f4-3527-4937-8398-9cb127d17ea6.png)

[2022-01-28 13:25] jwilander commented on #551
@cpanato @spirosoik is the original content in the issue above still accurate? If so I can submit a PR for the doc update to include it

[2022-01-28 13:27] cpanato commented on #551
lgtm those things

[2022-01-28 13:34] cpanato commented on #551
for forks it does not work

[2022-01-28 13:37] jwilander commented on #415
I can submit it

[2022-01-28 14:09] cwarnermm commented on #960
Thank you, @avinashlng1080, for your help with this documentation update!

First we need to identify where in the developer documentation this information should live. We'll want to add this information somewhere logical and easy to find. Then, we'd create a PR for the documentation update.

@avinashlng1080 - Where would you recommend this information live in on developers.mattermost.com?

[2022-01-28 14:15] enahum commented on #960
Perhaps a new section under contribute -> mobile ?

Is webapp going to have a similar section?

[2022-01-30 19:12] hanzei commented on #434
Yes, this is still valid.

[2022-02-01 08:22] mickmister commented on #942
@justinegeffen Sorry the ticket description is little vague, and seems to imply that the linked `README` should be updated. This ticket is in the https://github.com/mattermost/mattermost-developer-documentation repo because the change needs to be applied here. The linked `README` in the description is to a page in the Apps plugin repo. I'm suggesting we link to this page, in the Apps developer doc

[2022-02-01 08:38] mickmister commented on #920
I'll leave as help wanted for now

[2022-02-02 15:32] cwarnermm commented on #59
Adding the **preview-environment** to a PR generates a preview of the site on each code commit. Closing.

[2022-02-02 15:32] #59 closed

[2022-02-02 15:37] cwarnermm commented on #340
@justinegeffen - If this isn't already documented, this may be a good addition to the Handbook. Thoughts?

[2022-02-02 15:39] cwarnermm commented on #348
Confirmed that this issue is present in production today.

[2022-02-02 15:41] cwarnermm commented on #358
@jwilander - Following up on this ticket with you to see whether this work was completed.

[2022-02-02 15:42] cwarnermm commented on #362
@jwilander - Was this update applied to the product documentation?

[2022-02-02 15:44] cwarnermm commented on #379
@jwilander - It appears that this information was updated in the developer documentation. Can you confirm, please?

[2022-02-02 15:46] cwarnermm commented on #404
@jwilander @coltoneshaw  - From your perspectives, is this ticket still valid and something we should action in the developer documentation?

[2022-02-03 08:20] Sonichigo commented on #618
@cwarnermm Can i take this issue?

[2022-02-03 13:00] cwarnermm commented on #618
Hello @Sonichigo! We would welcome your help with this documentation issue! You'd be updating this [page](https://developers.mattermost.com/contribute/getting-started/labels/) on the developers.mattermost.com site, and you'd be updating the **Setup Cloud Test Server** description. I've assigned this ticket to you.

@jwilander - Can you confirm for us whether the **Setup Cloud Test Server** label t

[2022-02-03 18:01] jwilander commented on #618
It does create an enterprise edition server.

[2022-02-07 16:35] mickmister opened #1007 "Help Wanted: Document removal of jQuery in plugin dev docs"
When we removed jQuery from the webapp in Mattermost `v6.3.0`, any plugins relying on jQuery being available in global scope will fail when they try to use any jQuery functionality. All of our internally maintained plugins are updated to not use jQuery, but some externally maintained plugins may still be affected.

Related issue https://github.com/mattermost/mattermost-server/issues/19395

[2022-02-07 19:55] #415 closed

[2022-02-07 21:25] mickmister opened #1008 "Recommend using `openModal` in webapp plugin development guide"
There were recently some breaking changes with the webapp, in regards to what some plugins were expecting to be implcitly available from the webapp. Plugins that open their own modals may be affected by a recent change.

Plugins have usually handled the showing of their modals by simply using their own redux logic to show the modal, but this has caused issues. We instead want to suggest this prope

[2022-02-23 08:53] #986 closed

[2022-02-25 15:08] cwarnermm commented on #997
Thanks, @akshitarora921! I've alerted our Marketing team to this issue.

[2022-02-25 15:10] cwarnermm commented on #960
If this information applies equally to both webapp and mobile with no changes in process, we may want to find a common home for this new information, rather than creating 2 new subsections.

[2022-02-25 15:27] akshitarora921 commented on #997
@cwarnermm, I can work on this issue if you can provide me the correct favicon image.

[2022-02-25 15:28] cwarnermm commented on #997
Very much appreciated, @akshitarora921! This issue is being reviewed by our Marketing team. I'll let you know if further action is required via a PR. Thank you!

[2022-02-25 17:28] BenLloydPearson opened #1023 "/contribute page doesn't follow redirect rules."
The [/contribute page](https://developers.mattermost.com/contribute/) doesn't properly redirect when aliases are implemented on other pages. See #1021

I did some testing locally by creating an _index.md file in the /contribute directory but the redirects still didn't work. This could be a bug in Hugo or a misconfiguration on the site.

[2022-02-25 17:37] enahum commented on #960
Definitely not the same process

[2022-02-25 20:38] cwarnermm commented on #997
@akshitarora921 - Good news! The developers.mattermost.com site was updated recently with a new favicon that's easier to see in dark mode. When you visit the site, you should see this new favicon too. Please let me know if that's not the case. Closing this ticket.

[2022-02-25 20:38] #997 closed

[2022-02-28 05:33] #618 closed

[2022-03-10 00:14] mickmister opened #1028 "Update Apps framework quickstart guides with latest examples from GitHub"
Note that the quick start guide is likely out of sync with the most up-to-date examples on GitHub. The examples on GitHub are the source of truth for what should be developed with the Apps framework going forward, so maybe note that the quick start examples are / may be out of date.

We should have a follow up task when we release the Apps framework to GA, to update the quickstart guides to the mo

[2022-03-10 14:15] #1023 closed

[2022-03-10 14:17] cwarnermm commented on #960
@avinashlng1080 - Is there anything else you need for this issue?

[2022-03-11 06:12] avinashlng1080 commented on #960
I might not be seeing the full picture here but I think we don't need to document this now ever since we  [PR 5940 ](https://github.com/mattermost/mattermost-mobile/pull/5940) merged in.  Upgrading the compass icons is done by incrementing the version in the package.json file - which holds the project's dependencies/libraries.

[2022-03-14 12:54] lieut-data commented on #493
Let's close this for now: for better or worse, it seems this doesn't come up often, and I suspect might be something that will fall under the upcoming product architecture.

[2022-03-14 12:54] #493 closed

[2022-03-17 20:35] mm-cloud-bot opened #1044 "Request for Documentation: Title"
Mattermost user `vmohir` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/d3supohxzjn65g1is3i4s3q1ga).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2022-03-19 16:54] mm-cloud-bot opened #1045 "Request for Documentation: a"
Mattermost user `bcpg` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/f4uwyp7wnb81fnxjemyed6ywdo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2022-03-19 16:54] PxBCPG commented on #1045
Wrong manipulation sorry

[2022-03-21 17:01] mm-cloud-bot opened #1047 "Request for Documentation: Make API docs more clear about what fields are returned"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/u17ji1wyofg3jf35yshgxutmua).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2022-03-21 21:02] cwarnermm commented on #1045
No problem, @PxBCPG. Closing.

[2022-03-21 21:02] #1045 closed

[2022-03-21 21:07] cwarnermm commented on #960
Thanks, @avinashlng1080. I'm inclined to close this issue. @Willyfrog - Any concerns about doing so from your perspective?

[2022-03-22 06:49] spirosoik commented on #592
@hanzei @cwarnermm soon we will move away from circleci though and we will move everything to Github Actions

[2022-03-22 11:23] #960 closed

[2022-03-22 11:24] Willyfrog commented on #960
No, I'm ok with closing it :) thanks for looking into it

[2022-03-22 13:26] cwarnermm commented on #592
Thanks, @spirosoik. Sounds like we no longer need this issue specifically. As we move to GitHub Actions, let's ensure that there's sufficient supporting documentation available.

[2022-03-22 13:46] BenLloydPearson commented on #959
@mickmister The Get Started page is probably the best place for this now, specifically, we could add sentence to [this line](https://github.com/mattermost/mattermost-developer-documentation/blob/master/site/content/contribute/getting-started/_index.md?plain=1#L26) that indicates that contributors should make sure the issue is assigned to them.

[2022-04-12 14:57] jwilander commented on #358
Closing. If someone sees something in there that would make a good addition to our docs we would definitely accept a proposal in the form of a PR.

[2022-04-12 14:57] #358 closed

[2022-04-13 12:46] #379 closed

[2022-04-13 13:42] #362 closed

[2022-04-14 15:36] #404 closed

[2022-05-20 18:44] mm-cloud-bot opened #1070 "Request for Documentation: Document how to use custom i18n translations in a webapp plugin"
Mattermost user `michael.kochell` from https://community-daily.mattermost.com has requested the following be documented:

[code]
[code]

[2022-06-01 01:48] mm-cloud-bot opened #1072 "Help Wanted: App Framework - Document how to set up webhooks"
Mattermost user `michael.kochell` from https://community.mattermost.com has requested the following be documented:

[code]

Then you can setup your webhook URL in the external system (Trello) as `(site url)/plugins/com.mattermost.apps/(app id)/webhook/(arbitrary suffix you provide)?secret=(secret)`

When an http request hits this endpoint, the App framework will check the secret for you, and rejec

[2022-06-17 09:18] imasdekar opened #1079 "Focalboard: Instructions to run the prebuild step before running the make linux-app for standalone desktop app"
#### For focalboard dev setup the following error is received if prebuild is not run before `make linux-app`

[code]

Hence the [focalboard documentation](https://developers.mattermost.com/contribute/focalboard/personal-server-setup-guide/#building-and-running-standalone-desktop-apps) should clearly state the developer to run the `make prebuild` step before the `make linux-app` step.
The above app

[2022-07-08 10:09] sinansonmez opened #1086 "Update E2E test guidance to use new path"
[Current documentation ](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) mention that

I think correct path should be `mattermost-webapp/e2e/cypress` to install dependencies and run npm test.

Because when I run `npm run cypress:run` in `mattermost-webapp/e2e`, I receive this error: `Missing script: "cypress:open"`

Tagging @saturninoabril for visibility

[2022-07-08 10:15] sinansonmez commented on #1086
Okay I just realized that this change is already done by this [PR](https://github.com/mattermost/mattermost-developer-documentation/pull/1055) but the changes are not reflected to website

[2022-07-08 10:45] saturninoabril commented on #1086
Thanks for looking @sinansonmez! I'll check with the team responsible for deploying the latest documentation.

[2022-07-08 10:49] saturninoabril commented on #1086
I just checked and the change in the referenced PR is already deployed. However, there are pages that still need to be updated like the one you initially pointed out. We'll update accordingly.

[2022-07-08 11:00] sinansonmez commented on #1086
Thanks for the information @saturninoabril

[2022-07-11 04:41] saturninoabril commented on #1086
@sinansonmez I'm closing this issue in favor of the PR submitted - https://github.com/mattermost/mattermost-developer-documentation/pull/1088. Feel free to comment in the PR itself. Again, thanks for looking!

[2022-07-11 04:41] #1086 closed

[2022-07-13 14:17] mm-cloud-bot opened #1089 "Request for Documentation: Apps - Document how to check if a user has permissions to manage a channel"
Mattermost user `michael.kochell` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/ro34mzppuj8wmyayezenuyaj5r).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2022-08-01 17:13] chenilim commented on #1079
Cleaning up old issues. I believe this has been resolved, so closing. Please reopen if there is still outstanding changes needed. Thanks everyone! cc @imasdekar, @justinegeffen.

[2022-08-01 17:13] #1079 closed

[2022-08-02 07:51] mickmister commented on #942
Hi @justinegeffen, just following up on this. Was there a link added in the Apps dev docs for the docker dev environment?

[2022-08-02 15:05] justinegeffen commented on #942
Thanks, @mickmister! I closed this inadvertently when closing some others - do you have an idea of where you want this update to be? The Apps landing page, the [deployment page](https://developers.mattermost.com/integrate/apps/deploy/)? Happy to add it but not sure where you were thinking. :)

[2022-08-02 19:25] azigler commented on #942
@justinegeffen @mickmister I can handle this one, because we'll ultimately need a little more than just linking and it'll necessitate brushing up a few of the pages. I'm working on restructuring these guides so that using this dev environment is more clear. This is related to [this ticket](https://mattermost.atlassian.net/browse/MM-39146?atlOrigin=eyJpIjoiYmMyODU4NmU2MDg1NDQ4MDkxMzZjNGM1NDg5ZDI5NT

[2022-08-02 19:28] mickmister commented on #942
@azigler Sounds good to me :+1: Thanks for digging into the whole development process!

[2022-08-03 12:53] justinegeffen commented on #942
Awesome, thanks @azigler, that makes a lot of sense. Appreciate it! :)

[2022-09-14 21:24] crrdean opened #1114 "Incoming Webhooks do not handle Attachment Actions properly"
#### Summary
Incoming Webhooks do not handle attachment actions properly

#### Steps to reproduce
1. Create an incoming webhook.
2. Send webhook data containing an input attachment (button, dropdown)
3. `{
    "username": "Bot",
    "channel":"@username",
    "attachments":[
    {
      "actions": [
        {
          "id": "test",
          "name": "Click Me",
          "integration": {

[2022-09-15 16:40] mickmister commented on #1114
@crrdean I moved this to https://github.com/mattermost/mattermost-developer-documentation. In retrospect, I probably should have just made a new issue and pointed to the original

[2022-09-15 16:43] mickmister opened #1115 "Document how to use message attachments with incoming webhooks"
More context here https://github.com/mattermost/mattermost-server/issues/21036#issuecomment-1248352628

[2022-10-07 17:05] #937 closed

[2022-10-07 17:05] #942 closed

[2022-10-07 17:05] #1028 closed

[2022-10-07 20:11] cwarnermm opened #1140 "Help Wanted: Notes and tips aren't formatted consistency across the developer documentation site"
**Problem space**
Currently, important information called out as notes and tips in developer documentation don't display consistently from page to page. This is because some notes and tips don't use the correct Markdown format.

Notes and tips displayed in different formats makes that content harder to scan, read, consume, and can lead to a less than ideal user experience overall with the develope

[2022-10-07 20:13] cwarnermm opened #1141 "Help Wanted: Add alternative text to all visual assets across the developer documentation site"
**Problem space**
Currently, visual assets on developer documentation pages are often missing alternative text which results in this visual content not being accessible by documentation visitors using screen reader technologies.

**Target audience**
All users, and particularly those using screen reader technologies

**Goal**
- Identify all visual assets across the documentation site that are curre

[2022-10-07 20:15] cwarnermm opened #1142 "Help Wanted: Open all external links in a new browser tab"
**Problem space**
Currently, links to external sites from the Mattermost developer documentation take the visitor away from [developers.mattermost.com](http://developers.mattermost.com/).

**Target audience**
All users

**Goal**
- Open all external links across the developer documentation site in a new browser tab, rather than the current tab.

**Delivery expectations**
- 1 PR with all proposed ch

[2022-10-07 20:17] cwarnermm opened #1143 "Help Wanted: Identify developer documentation content that would benefit from visual assets to supplement existing written content"
**Problem space**
In the Mattermost Developer Documentation, there is content that is currently text-heavy. This text-heavy content is beneficial to visitors who learn well by reading, but is less beneficial to visual, audio, or kinaesthetic learners.

**Target audience**
All users

**Goal**
- Identify content across the developer documentation site that would benefit from the addition of visual e

[2022-10-07 20:18] cwarnermm opened #1144 "Help Wanted: Correct developer documentation"
Correct the error present in the developer documentation that describes [how to create a personal access token](docs.mattermost.com/developer/personal-access-tokens.html#creating-a-personal-access-token).

Personal Access Tokens managed via user's profile, not Account Settings.

**Step 6** says to go **Account Settings** but the UI for creating access tokens is available within the user's profile

[2022-10-07 21:15] leonardonatali commented on #1144
Hello! i would like work on this ticket!

[2022-10-07 23:30] techsnap commented on #1144
Hi, I would like to work on this issue.

[2022-10-07 23:36] techsnap commented on #1142
Hi, I would like to work on this. Can you assign this to me?

[2022-10-08 06:25] aniketh-varma commented on #1142
Hi @cwarnermm, I would like to take this issue, if it is available.

[2022-10-08 07:22] EshaanAgg commented on #1141
Hi! I would like to work on this issue.
Can you assign me any documentation pages to get started with?

[2022-10-08 08:00] rsarthak commented on #1144
I would like to work on this issue, please assign it to me.

[2022-10-08 08:12] Shamik1836 commented on #1144
Hi, I would like to work on this issue, since it's going to be my first contribution I would like to start from here

[2022-10-08 12:47] cwarnermm commented on #1142
Hello @techsnap and @aniketh-varma - Another contributor has created a PR to address this issue. If their PR moves forward, then we'll review that PR.

[2022-10-08 12:47] cwarnermm commented on #1144
Thank you for all of the interest in this documentation issue! @techsnap - You were first to comment, and I'm assigning this ticket to you.

@rsarthak & @Shamik1836 - Please let me know if there are other documentation tickets you'd like to work on!

[2022-10-08 12:51] cwarnermm commented on #1141
@EshaanAgg - Thank you for addressing this developer documentation issue. The [Incoming webhooks](https://developers.mattermost.com/integrate/webhooks/incoming/) page is a good example of a visual asset that is missing alternative text.

[2022-10-08 13:03] rsarthak commented on #1144
@cwarnermm I would like to work on #1140 .

[2022-10-08 13:24] nikzayn commented on #1140
@cwarnermm I'd like to take this up!

[2022-10-08 18:59] abhishek-sultaniya commented on #1141
Hello @cwarnermm ! I would also like to work on this issue.
Can you assign me any documentation pages to get started with?

[2022-10-08 21:01] aniketh-varma commented on #1140
Hi @cwarnermm, I would like to contribute to this issue, have already started working on this!

[2022-10-09 14:13] abhishek-sultaniya commented on #1144
I would like to work on other documentation tickets.
It would be great if you will assign me.

[2022-10-09 15:36] cwarnermm commented on #1144
Hi @rsarthak - https://github.com/mattermost/mattermost-developer-documentation/issues/1140 has been assigned to someone else.

Hi @abhishek-sultaniya - Please feel free to review the list of product or developer documentation issues. The Docs team will continue to add to the list of Help Wanted tickets throughout Hacktoberfest. When you see an issue that appeals to you, and it hasn't already been

[2022-10-09 15:44] cwarnermm commented on #1141
@abhishek-sultaniya - This issue has been assigned to another contributor.

[2022-10-10 15:13] Harshil-Jani opened #1149 "Unable to setup the docs on local"
While setting up the documentation site on my local using hugo I am getting an error.

[code]

[2022-10-11 05:22] varunKT001 commented on #511
@cwarnermm Can I work on this?

[2022-10-11 06:11] hanzei commented on #511
That would be awesome, thanks @varunKT001 :+1:

[2022-10-11 14:00] cwarnermm commented on #1143
Thank you, @Drishti-jain21! I'm looking forward to seeing what you come up with, and I've assigned you to this ticket.

[2022-10-11 14:01] cwarnermm commented on #1143
Please note that additional contributors can be assigned to this ticket. Please don't hesitate to speak up if you'd also like to work on this issue.

[2022-10-11 16:50] neflyte commented on #1149
I've been using Hugo v0.101.0+extended and have had no issue. Perhaps try with a newer release?

[2022-10-11 16:53] neflyte commented on #1072
This information is being documented by: https://community.mattermost.com/boards/team/rcgiyftm7jyrxnma1osd8zswby/bbft5ccthufy1fcgdrz8ory7bga/vcfirybf6dtbu5b833e4dkhxt5a/ccjnmyp6ixidzmbmm3h66wgy8ae

[2022-10-11 19:15] Harshil-Jani commented on #1149
Tried with v0.101. and v0.104 Still facing same issue

[2022-10-12 02:40] techsnap commented on #1144
Hey @cwarnermm, did you mean [this link](https://docs.mattermost.com/developer/personal-access-tokens.html#creating-a-personal-access-token) instead?

I think the rst file for this webpage is [personal-access-tokens.rst](https://github.com/mattermost/docs/blob/master/source/archive/personal-access-tokens.rst)

This is in mattermost/docs repository. Should I edit this file for this issue? And the c

[2022-10-12 12:34] cwarnermm commented on #1144
@techsnap - Good question! I did intend the developers.mattermost.com link. The link in the product docs you provided is an archived file that should no longer be available in production. It's still live as a cached file which needs to be cleared.

[2022-10-12 13:03] neflyte commented on #1149
Hmm, this might be due to the JSON files extracted from code that get displayed in the docs. Try running `make dist` first to pull in the JSON data.

[2022-10-12 15:24] techsnap commented on #1144
Okay. So, do I have to clear that file? Can you clarify more on what do I have to do for this issue now?

[2022-10-12 15:36] cwarnermm commented on #1144
@techsnap - This ticket asks that you correct the error present in the developer documentation that describes [how to create a personal access token](docs.mattermost.com/developer/personal-access-tokens.html#creating-a-personal-access-token).

[2022-10-12 18:35] cwarnermm commented on #1144
@techsnap -This Help Wanted is a duplicate unfortunately. This documentation correction was applied via https://github.com/mattermost/mattermost-developer-documentation/pull/1107

I apologize for the confusion and churn this duplication has caused.

[2022-10-12 18:35] #1144 closed

[2022-10-12 18:46] techsnap commented on #1144
No problem!

[2022-10-14 13:19] Drishti-jain21 commented on #1143
Hi @cwarnermm I am done with the workflow diagrams.
Where do I add them in the repository?

[2022-10-17 15:31] cwarnermm commented on #1143
Hi @Drishti-jain21! Good question!

The easiest way to identify the source file you need to update is by:
1. Navigating to the documentation page you want to edit.
2. Selecting the **Edit on GitHub** option located in the top-right corner of the published docs page.

This takes you directly to the source file you want to update.

[2022-10-17 19:57] TomerPacific opened #1158 "Wrong Golang Link In WSL Setup"
In the [**_Setting Up Your Development Environment_**](https://developers.mattermost.com/contribute/more-info/server/developer-setup/) page, under the **Windows WSL** section, when you get to step 4, it states:

This link does not work anymore and should be rewritten to https://go.dev/dl/.

[2022-10-18 12:49] neflyte commented on #1158
I was able to use the existing link without an issue, however I agree that we should update the link anyways. :slightly_smiling_face:

[2022-10-18 12:50] neflyte commented on #1149
@Harshil-Jani Did you have any luck running `make dist`?

[2022-10-18 12:52] neflyte commented on #1115
Where should this information live? The linked issue says that message attachments aren't just for plugins and should be more global. We should probably have more discussion around how to handle this.

[2022-10-18 13:11] Harshil-Jani commented on #1149
Naah ! :(

[2022-10-20 17:09] TomerPacific commented on #434
@cwarnermm , I'd like to help out. What would be the minimum server version?

[2022-10-20 19:09] cwarnermm commented on #449
@jasonblais - I realize that you posted this a LONG time ago, but any guidance and advice you could offer for this ticket would be very much appreciated!

[2022-10-20 19:11] cwarnermm commented on #434
@neflyte - Are you open to providing @TomerPacific with guidance on this developer documentation ticket based on your knowledge of our plugins and apps framework technologies and our developer doc set?

[2022-10-21 13:46] jasonblais commented on #449
Hi @cwarnermm and thanks @TomerPacific for your interest helping :)

**Scenario:**
A contributor (either staff or community member) submits a PR, it is reviewed and merged into the codebase.

Few days later the community notices a mistake with the PR. The question is, what should the standard procedure be? Few options include:
 - creating a new issue for the identified issue, and submitting a new

[2022-10-21 16:45] TomerPacific commented on #449
Thanks @jasonblais for the added clarification. @cwarnermm , would you like me to wait for you to contact several staff engineers to understand if there is a procedure that has become common practice?

[2022-10-21 17:58] cwarnermm commented on #449
Thanks so much, @jasonblais! Really appreciate the context here and I agree that this may already be documented (or understood).

@TomerPacific - Really appreciate your willingness to help us with this! Let's see if we can get some confirmation on whether this process has been noted and proceed from there.

@m1lt0n @Willyfrog - Can either of you confirm whether we have processes documented somewhe

[2022-10-21 21:10] mickmister commented on #1115
@neflyte Yes it seems "Plugins" is currently being used as an umbrella section, with things that are not exclusively related to plugins, namely interactive messages in this case. https://developers.mattermost.com/integrate/getting-started. Maybe we can add a new section Interactivity for "interactive messages" and "interactive dialogs".

<img width="484" alt="image" src="https://user-images.github

[2022-10-24 06:53] Willyfrog commented on #449
I've never seen such documentation (that doesn't mean it doesn't exist) but the usual way to go for this depends on the impact:
- low impact (some non-critical functionality affected): create a ticket and resolve it based on priority. Usually assigned to the same person who introduced the bug if still available (sometimes we detect the bug way later)
- high impact: two scenarios:
    -  if the fea

[2022-10-24 08:11] m1lt0n commented on #449
Also on my side I haven't seen such documentation, but I agree with @Willyfrog :

1. Low impact, it can be a follow-up PR that fixes the wrong behaviour (if it doesn't affect end users in any significant way, eg some small styling issue or something)
2. For high impact, people are going in the two ways that Guillermo mentions. My take on this is to always opt in for a revert immediately when there

[2022-10-25 12:56] neflyte commented on #1149
Could you reply with the output of running `make dist`? I'd like to confirm what the issue is.

[2022-10-25 15:32] neflyte opened #1163 "Plugin docs extractor is throwing errors"
It looks like there was a change in the mattermost-server repo recently that has caused the plugin docs extractor to throw non-fatal errors:

[code]

I've got a card on my board to fix this: https://community.mattermost.com/boards/team/rcgiyftm7jyrxnma1osd8zswby/bbft5ccthufy1fcgdrz8ory7bga/vcfirybf6dtbu5b833e4dkhxt5a/ct4d1t4cpr38c5j4h6uyw7qrdxr

FYI that this issue exists :slightly_smiling_face:

[2022-10-26 13:27] neflyte commented on #870
A lot of this work has been done by a few recent PRs.
This issue should be re-visited for any specific information that needs to be documented above what now exists.

@justinegeffen Thoughts?

[2022-10-26 18:56] cwarnermm commented on #870
Thanks, @neflyte. I agree that we can close this issue and open new issues if information gaps are discovered.

[2022-10-26 18:56] #870 closed

[2022-10-26 18:57] cwarnermm commented on #693
CC @simcard0000 for visibility

[2022-10-26 19:04] simcard0000 commented on #693
@cwarnermm Thanks for the ping! It totally can be worked on right now (and made into a PR), but I'll also make a note of this issue in the overall state of (e2e) testing documentation file I made and sent in the [Community Onboarding Refresh 2022 channel earlier](https://community.mattermost.com/core/pl/thnpsd3oaiyuxxeh91eszpmwsr).

[2022-10-26 19:07] cwarnermm commented on #449
Thank you @Willyfrog and @m1lt0n for your thoughtful input.

@TomerPacific - This information would fit well in the Developer documentation under the [Contribute code](https://developers.mattermost.com/contribute/more-info/getting-started/) section. Pages on this site are formatted in Markdown.

If you don't see an existing page to update with these process details, feel free to create a PR that i

[2022-10-26 19:07] #580 closed

[2022-10-26 19:08] cwarnermm commented on #348
@neflyte - Is this something configurable and under our control via Hugo?

[2022-10-28 05:13] TomerPacific commented on #449
Thanks @Willyfrog , @m1lt0n  and @cwarnermm. I'll start working on this.

[2022-10-28 05:16] TomerPacific commented on #434
@cwarnermm - Any update on this?

[2022-10-28 11:28] TomerPacific commented on #449
@cwarnermm - I have opened a [PR ](https://github.com/mattermost/mattermost-developer-documentation/pull/1166) and I am awaiting your feedback.

[2022-10-28 14:26] cwarnermm commented on #434
@TomerPacific - We'll have an update next week on this ticket. Unfortunately, we likely won't have an update in time for this ticket to be eligible for Hacktoberfest.

[2022-10-31 20:11] #449 closed

[2022-11-04 12:42] cwarnermm commented on #1141
Closed via https://github.com/mattermost/mattermost-developer-documentation/pull/1147

[2022-11-04 12:42] #1141 closed

[2022-11-07 20:29] TomerPacific commented on #434
@cwarnermm - I don't want to be a bother, but am wondering if you still need help here?

[2022-11-22 13:14] #511 closed